{% comment %}
    Renders cart notification

    Accepts:
    - color_scheme: {String} sets the color scheme of the notification (optional)

    Usage:
    {% render 'cart-notification' %}
{% endcomment %}					
				<div class="cart_notify" id="cart" aria-modal="true" aria-label="{{ 'general.cart.item_added' | t }}" role="dialog" tabindex="-1">
                        <div class="cart_header">
                            <div class="txt_desp">
                                <img src="{{'check_icon.png' | asset_url }}" alt="">
                                <p>{{ 'general.cart.item_added' | t }}</p>
                            </div>
                            <button class="close" id="close">
                                <a href="">
                                    <img src="{{'close.png' | asset_url }}" alt="">
                                </a>
                            </button>
                        </div>
                        <div id="cart-notification-product" class="cart-notification-product"></div>
                        <div class="cart_links">
                            <a class="header_cart" href="{{ routes.cart_url }}">
                                <h3>View my cart</h3>
                                <span class="number">0</span>
                            </a>
                            <form action="{{ routes.cart_url }}" method="post">
                                <button class="checkout" name="checkout">{{ 'sections.cart.checkout' | t }}</button>
                            </form>
                            <button class="continue_shopping">
                                {{ 'general.continue_shopping' | t }}
                            </button>
                        </div>
                    </div>