 {% comment %}
    Renders facets (filtering and sorting)

    Accepts:
    - results: {Object} Collection or Search object
    - enable_filtering: {Boolean} Show filtering when true
    - enable_sorting: {Boolean} Show sorting when true
    - collapse_on_larger_devices: {Boolean} Collapse filtering/sorting into menu on larger devices when true

    Usage:
    {% render 'facets', results: collection, enable_filtering: true, enable_sorting: true, collapse_on_larger_devices: false %}
{% endcomment %}

{%- liquid
  assign sort_by = results.sort_by | default: results.default_sort_by
  assign total_active_values = 0
  if results.url
    assign results_url = results.url
  else 
    assign terms = results.terms | escape
    assign results_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
  endif
-%}
{% style %}

.facets_price .field .field_input {
	width: 85px !important;
}
.facets__price {
	display: flex;
}
{% endstyle %}
		<div class="collection_filters">
             {% if enable_filtering %}
             <div class="categories util_pc">
                 <div class="txt_desp">
                            <h3>Categories</h3>
                        </div>
                 <ul class="list_items">
                            <li>
                                <a href="">
                                    <p>Category 01</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <p>Category 02</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <p>Category 03</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <p>Category 04</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <p>Category 05</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <p>Category 06</p>
                                </a>
                            </li>
                        </ul>
             </div>
             <div class="filters" id="filters">
                        <div class="txt_desp util_pc">
                            <h3>Filter By</h3>
                        </div>
               		<facet-filters-form class="facets small-hide">
                        <form id="FacetFiltersForm" class="facets_wrapper">
                            <div class="txt_desp util_sp">
                                <h3>Filter :</h3>
                            </div>
                          <div id="FacetsWrapperDesktop" class="facets__wrapper">
                            {%- for filter in results.filters -%}
                              {%- assign total_active_values = total_active_values | plus: filter.active_values.size -%}
                              {% case filter.type %}
                              {% when 'list' %}
                                  <div class="availability js-filter" data-index="{{ forloop.index }}">
                                      <div class="ttl_filters" id="filter_availability">
                                          <p>{{ filter.label | escape }}</p>
                                          <img class="util_sp" src="{{'chevron-down.png' | asset_url }}" alt="">
                                      </div>
                                      <div class="facets_display" id="content_availability">
                                          <ul class="facets_list">
                                            {%- for value in filter.values -%}
                                              <li class="facets_item">
                                                  <label for="">
                                                      <input type="checkbox" name="{{ value.param_name }}" value="{{ value.value }}" id="Filter-{{ filter.label | escape }}-{{ forloop.index }}"
                                                          {% if value.active %}checked{% endif %}
                                                          {% if value.count == 0 and value.active == false %}disabled{% endif %}>
                                                      <p class="txt_label">{{ value.label | escape }} ({{ value.count }})</p>
                                                  </label>
                                              </li>
                                            {%- endfor -%}
                                          </ul>
                                          <div class="reset" >
                                              <facet-remove>
                                                <a href="{{ filter.url_to_remove }}" class="facets__reset link underlined-link">
                                                  {{ 'products.facets.reset' | t }}
                                                </a>
                                              </facet-remove>
                                          </div>
                                      </div>
                            		</div>
                              {% when 'price_range' %}
                                <div class="price js-filter" data-index="{{ forloop.index }}">
                                    <div class="ttl_filters" id="filter_price">
                                        <p>{{ filter.label | escape }}</p>
                                        <img class="util_sp" src="{{'chevron-down.png' | asset_url }}" alt="">
                                    </div>
                                    <div class="facets_display" id="content_price">
                                        <div class="facets_price">
                                          <price-range class="facets__price">
                                            <span class="field-currency">{{ cart.currency.symbol }}</span>
                                            <div class="field">
                                                <input class="field_input" name="{{ filter.min_value.param_name }}"
                          								id="Filter-{{ filter.label | escape }}-GTE"
                          								{%- if filter.min_value.value -%}
                            							{%- if uses_comma_decimals -%}value="{{ filter.min_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"{%- else -%}value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"{% endif %}
                          								{%- endif -%}
                          								type="number"
                          								placeholder="0"
                          								min="0"
                          								{%- if uses_comma_decimals -%}max="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}"{%- else -%}max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"{% endif %}>
                                            </div>
                                            <span class="field-currency">{{ cart.currency.symbol }}</span>
                                            <div class="field">
                                                <input class="field_input" name="{{ filter.max_value.param_name }}"
                                                        id="Filter-{{ filter.label | escape }}-LTE"
                                                        {%- if filter.max_value.value -%}{%- if uses_comma_decimals -%}value="{{ filter.max_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"{%- else -%}value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"{% endif %}
                                                        {%- endif -%}
                                                        type="number"
                                                        min="0"
                                                        {%- if uses_comma_decimals -%}
                                                          placeholder="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                                                          max="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                                                        {%- else -%}
                                                          placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                                                          max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                                                        {% endif %}>
                                            </div>
                                            </price-range>
                                        </div>
                                        <div class="reset">
                                            <facet-remove>
                                                <a href="{{ filter.url_to_remove }}" class="facets__reset link underlined-link">
                                                  {{ 'products.facets.reset' | t }}
                                                </a>
                                              </facet-remove>
                                        </div>
                                    </div>
                                </div>
                              {% when 'colors' %}
                                <div class="color js-filter" data-index="{{ forloop.index }}">
                                    <div class="ttl_filters" id="filter_color">
                                        <p>Color</p>
                                        <img class="util_sp" src="{{'chevron-down.png' | asset_url }}" alt="">
                                    </div>
                                    <div class="facets_display" id="content_color">
                                        <ul class="facets_list">
                                            {%- for value in filter.values -%}
                                              <li class="facets_item">
                                                  <label for="">
                                                      <input type="checkbox" name="{{ value.param_name }}" value="{{ value.value }}" id="Filter-{{ filter.label | escape }}-{{ forloop.index }}"
                                                          {% if value.active %}checked{% endif %}
                                                          {% if value.count == 0 and value.active == false %}disabled{% endif %}>
                                                      <p class="txt_label">{{ value.label | escape }} ({{ value.count }})</p>
                                                  </label>
                                              </li>
                                            {%- endfor -%}
                                        </ul>
                                        <div class="reset">
                                            <facet-remove>
                                                <a href="{{ filter.url_to_remove }}" class="facets__reset link underlined-link">
                                                  {{ 'products.facets.reset' | t }}
                                                </a>
                                              </facet-remove>
                                        </div>
                                    </div>
                                </div>
                          {% endcase %}
                           {%- endfor -%}
                          </div>
                         </form>
               			</facet-filters-form>
                            <div class="wrapper util_sp">
                                <div class="collection_product_wrap ">
                                    <div class="collection_product_count">
                                        <p>{{ collection.products_count }} products</p>
                                    </div>
                                    <div class="collection_product_sortby">
                                        <label for="">Sort by:</label>
                                        <div class="select">
                                            <select name="sort_by" class="selected" id="SortBy" aria-describedby="a11y-refresh-page-message">
                                          {% assign sort_by = collection.sort_by | default: collection.default_sort_by %}
                                          {% for option in collection.sort_options %}
                                            <option value="{{ option.value }}" {% if option.value == sort_by %}selected="selected"{% endif %}>
                                              {{ option.name }}
                                            </option>
                                          {% endfor %}
                                        </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
          </div>
          {%- endif -%}
        </div>		
