 {% comment %}
    Renders facets (filtering and sorting)

    Accepts:
    - results: {Object} Collection or Search object
    - enable_filtering: {Boolean} Show filtering when true
    - enable_sorting: {Boolean} Show sorting when true
    - collapse_on_larger_devices: {Boolean} Collapse filtering/sorting into menu on larger devices when true

    Usage:
    {% render 'facets', results: collection, enable_filtering: true, enable_sorting: true, collapse_on_larger_devices: false %}
{% endcomment %}

{%- liquid
  assign sort_by = results.sort_by | default: results.default_sort_by
  assign total_active_values = 0
  if results.url
    assign results_url = results.url
  else 
    assign terms = results.terms | escape
    assign results_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
  endif
-%}
<div class="collection_filters">
   {% if enable_filtering %}
                    <div class="categories util_pc">
                        <div class="txt_desp">
                            <h3>Categories</h3>
                        </div>
                        <ul class="list_items">
                            <li>
                                <a href="">
                                    <p>Category 01</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <p>Category 02</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <p>Category 03</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <p>Category 04</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <p>Category 05</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <p>Category 06</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="filters" id="filters">
                        <div class="txt_desp util_pc">
                            <h3>Filter By</h3>
                        </div>
                        <div class="facets_wrapper">
                            <div class="txt_desp util_sp">
                                <h3>Filter :</h3>
                            </div>
                         
                            {%- for filter in results.filters -%}
                              {%- assign total_active_values = total_active_values | plus: filter.active_values.size -%}
                              {% case filter.type %}
                              	{% when 'list' %}
                                  <div class="availability">
                                      <div class="ttl_filters" id="filter_availability">
                                          <p>{{ filter.label | escape }}</p>
                                          <img class="util_sp" src="{{'chevron-down.png' | asset_url }}" alt="">
                                      </div>
                                      <div class="facets_display" id="content_availability">
                                          <ul class="facets_list">
                                            {%- for value in filter.values -%}
                                              <li class="facets_item">
                                                  <label for="">
                                                      <input type="checkbox" name="{{ value.param_name }}" value="{{ value.value }}" id="Filter-{{ filter.label | escape }}-{{ forloop.index }}"
                              {% if value.active %}checked{% endif %}
                              {% if value.count == 0 and value.active == false %}disabled{% endif %}>
                                                      <p class="txt_label">{{ value.label | escape }} ({{ value.count }})</p>
                                                  </label>
                                              </li>
                                            {%- endfor -%}
                                          </ul>
                                          <div class="reset" >
                                              <a href="{{ filter.url_to_remove }}">{{ 'products.facets.reset' | t }}</a>
                                          </div>
                                      </div>
                            		</div>
                              {% when 'price_range' %}
                                <div class="price">
                                    <div class="ttl_filters" id="filter_price">
                                        <p>{{ filter.label | escape }}</p>
                                        <img class="util_sp" src="{{'chevron-down.png' | asset_url }}" alt="">
                                    </div>
                                    <div class="facets_display" id="content_price">
                                        <div class="facets_price">
                                            <span class="field-currency">$</span>
                                            <div class="field">
                                                <input class="field_input" type="text" value="" id="price-min">
                                            </div>
                                            <span class="field-currency">$</span>
                                            <div class="field">
                                                <input class="field_input" type="text" value="" id="price-max">
                                            </div>
                                        </div>
                                        <div class="reset">
                                            <a href="{{ filter.url_to_remove }}">{{ 'products.facets.reset' | t }}</a>
                                        </div>
                                    </div>
                                </div>
                              {% when 'color' %}
                                <div class="color">
                                    <div class="ttl_filters" id="filter_color">
                                        <p>Color</p>
                                        <img class="util_sp" src="{{'chevron-down.png' | asset_url }}" alt="">
                                    </div>
                                    <div class="facets_display" id="content_color">
                                        <ul class="facets_list">
                                            <li class="facets_item">
                                                <label for="">
                                                    <input type="checkbox" value="color 01">
                                                    <p class="txt_label">Color 01 (5)</p>
                                                </label>
                                            </li>
                                            <li class="facets_item">
                                                <label for="">
                                                    <input type="checkbox" value="color 02">
                                                    <p class="txt_label">Color 02 (5)</p>
                                                </label>
                                            </li>
                                            <li class="facets_item">
                                                <label for="">
                                                    <input type="checkbox" value="color 03">
                                                    <p class="txt_label">Color 03 (5)</p>
                                                </label>
                                            </li>
                                            <li class="facets_item">
                                                <label for="">
                                                    <input type="checkbox" value="color 04">
                                                    <p class="txt_label">Color 04 (5)</p>
                                                </label>
                                            </li>
                                            <li class="facets_item" value="color 05">
                                                <label for="">
                                                    <input type="checkbox">
                                                    <p class="txt_label">Color 05 (5)</p>
                                                </label>
                                            </li>
                                            <li class="facets_item" value="color 06">
                                                <label for="">
                                                    <input type="checkbox">
                                                    <p class="txt_label">Color 06 (5)</p>
                                                </label>
                                            </li>
                                        </ul>
                                        <div class="reset">
                                            <a href="{{ filter.url_to_remove }}">{{ 'products.facets.reset' | t }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wrapper util_sp">
                                <div class="collection_product_wrap ">
                                    <div class="collection_product_count">
                                        <p>250 products</p>
                                    </div>
                                    <div class="collection_product_sortby">
                                        <label for="">Sort by:</label>
                                        <div class="select">
                                            <select name="sort_by" class="selected">
                                                <option value="Default">Default</option>
                                                <option value="LowToHigh">Price, low to high</option>
                                                <option value="HighToLow">Price, high to low</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           {% endcase %}
                           {%- endfor -%}
                    </div>

                        {%- endif -%}

                </div>