{% comment %}
    Renders a set of links for paginated results. Must be used within paginate tags.

    Usage:
    {% paginate results by 2 %}
      {% render 'pagination', paginate: paginate, anchor: '#yourID' %}
    {% endpaginate %}

    Accepts:
    - paginate: {Object}
    - anchor: {String} (optional) This can be added so that on page reload it takes you to wherever you've placed your anchor tag.
{% endcomment %}
{%- if paginate.parts.size > 0 -%}
<div class="pagi_nav">
    <ul class="list_pagi">
     	<li class="pagi_item">
            <a class="prev page_num" href="{{ paginate.previous.url }}">
              {%- render 'icon-caret' -%}
          </a>
        </li>
       {% for part in paginate.parts %}
       <li  class="pagi_item">
         {%- if part.title == paginate.current_page -%}
              <span aria-current="page" class="page_num current">{{ part.title }}</span>
            {%- else -%}
              <a href="{{part.url}}" class="page_num">{{part.title}}</a>
            {%- endif -%}
       </li>
       {% endfor %}
       <li class="pagi_item">
       		<a class="next page_num" href="{{ paginate.next.url }}">
              {%- render 'icon-caret' -%}
         </a>
       </li>
    </ul>
</div>
{%- endif -%}