{% comment %}
    Renders a product card

    Accepts:
    - product_card_product: {Object} Product Liquid object (optional)

    Usage:
    {% render 'product-card' %}
{% endcomment %}
{% style %}
	

{% endstyle %}
{%- if product_card_product.featured_media -%}
<a class="item_type" href="{{ product_card_product.url | default: '#' }}">
  <div class="item_content">
     <div class="thumb">
        <img src="{{ product_card_product.featured_media | img_url: 'master' }}" alt="">
     </div>
     <div class="txt_desp">
        <h3>{{ product_card_product.title | escape }}</h3>
       <p>
          {{ product_card_product.price }}
           {%- if product_card_product.available == false -%}
          <span class="sold_out">{{ 'products.product.sold_out' | t }}</span>
        	{%- elsif product_card_product.compare_at_price > product_card_product.price and product_card_product.available -%}
          <span class="sale">{{ 'products.product.on_sale' | t }}</span>
        	{%- endif -%}
    	</p>
      </div>
        
     </div>
</a>
{%- endif -%}
