<link rel="stylesheet" href="{{ 'address.css' | asset_url }}" media="print" onload="this.media='all'">
<script src="{{ 'validator.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'address.js' | asset_url }}" defer="defer"></script>
{% style %}
	input[type=tel] {
	  width: 100%;
      height: 55px;
      border-radius: 5px;
      font-size: 12px;
      line-height: 20px;
      font-weight: 500;
      background-color: #fff;
      border: 1px solid #a6a4a4;
      color: #000;
      padding: 0 10px;
	}
.add {	
	background-color: black;
    color: white;
    padding: 13px 22px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
.add:hover {
	background-color: white;
    color: black;
    padding: 13px 22px;
    border: 1px solid;
    cursor: pointer;
    font-size: 16px;
}
button[type=reset] {
	margin-left: 15px;
    padding: 13px 32px;
    background: white;
    border: 1px solid;
    cursor: pointer;
}

{% endstyle %}
<div id="wrapper" class="address">
        <div class="inner">
            <div class="upper">
                <div class="navi_top">
                    <ul>
                        <li><a href="/"><img src="{{'bx-home.svg' | asset_url }}" alt=""></a></li>
                        <li><span class="current">{{ 'customer.addresses.title' | t }}</span></li>
                    </ul>
                </div>
            </div>
          {%- paginate customer.addresses by 5 -%}
            <section class="section create_address edit_address">
                <div class="edit_content">
                    <div class="form_name">{{ 'customer.addresses.title' | t }}</div>
                    <div class="form_edit">
                        {%- form 'customer_address', customer.new_address, aria-labelledBy: 'AddressNewHeading' -%}
                            <div class="form_item">
                                <div class="title">Name</div>
                                <div class="input_content name">
                                    <input type="text" id="first_name" name="address[first_name]" value="{{ form.first_name }}" autocomplete="given-name" placeholder="{{ 'customer.addresses.first_name' | t }}">
                                    <input type="text" id="last_name" name="address[last_name]" value="{{ form.last_name }}" autocomplete="family-name" placeholder="{{ 'customer.addresses.last_name' | t }}">
                                    <span class="form_message"></span>
                                </div>
                            </div>
                            <div class="form_item">
                                <div class="title">{{ 'customer.addresses.company' | t }}</div>
                                <div class="input_content company">
                                    <input type="text" id="company" name="address[company]" value="{{ form.company }}" autocomplete="organization" placeholder="{{ 'customer.addresses.company' | t }}">
                                    <span class="form_message"></span>
                                </div>
                            </div>
                            <div class="form_item">
                                <div class="title">Phone number</div>
                                <div class="input_content phone">
                                    <input type="tel" id="phone_number" name="address[phone]" value="{{ form.phone }}" autocomplete="tel" placeholder="{{ 'customer.addresses.phone' | t }}">
                                    <span class="form_message"></span>
                                </div>
                            </div>
                            <div class="form_item">
                                <div class="title">{{ 'customer.addresses.zip' | t }}</div>
                                <div class="input_content post_office">
                                    <input type="text" id="post_number" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters" autocomplete="postal-code" placeholder="{{ 'customer.addresses.zip' | t }}">
                                    <span class="form_message"></span>

                                </div>
                            </div>
                            <div class="form_item create_box_select">
                                <div class="title">{{ 'customer.addresses.country' | t }}</div>
                                <div id="box_check_option" class="input_content nation">
                                   <select
                                      id="select_box"
                                      name="address[country]"
                                      data-default="{{ form.country }}"
                                      autocomplete="country"
                                    >
                                      {{ all_country_option_tags }}
                                    </select>
                                </div>
                            </div>
                            <div class="form_item">
                                <div class="title">{{ 'customer.addresses.city' | t }}</div>
                                <div class="input_content city">
                                    <input type="text" id="city" name="address[city]" value="{{ form.city }}" autocomplete="address-level2" placeholder="{{ 'customer.addresses.city' | t }}">
                                    <span class="form_message"></span>
                                </div>
                            </div>
                            <div class="form_item">
                                <div class="title">Address</div>
                                <div class="input_content street">
                                   <input type="text" id="street" name="address[address1]" value="{{ form.address1 }}" autocomplete="address-line1" placeholder="{{ 'customer.addresses.address1' | t }}">
                                    <span class="form_message"></span>
                                </div>
                            </div>
                            <div class="form_item">
                                <div class="input_content default_address">
                                   {{ form.set_as_default_checkbox }}
                                    <label for="policy" class="checkbox normal">{{ 'customer.addresses.set_default' | t }}</label>
                                </div>
                            </div>
                            <div>
                              <button class="add">{{ 'customer.addresses.add' | t }}</button>
                              <button type="reset">{{ 'customer.addresses.cancel' | t }}</button>
                            </div>
                        {%- endform -%}
                    </div>
              {%- for address in customer.addresses -%}
               {{ address | format_address }}
                  <button
                    type="button"
                    id="EditFormButton_{{ address.id }}"
                    aria-label="{{ 'customer.addresses.edit_address' | t }} {{ forloop.index }}"
                    aria-controls="EditAddress_{{ address.id }}"
                    aria-expanded="false"
                    data-address-id="{{ address.id }}" 
                  >
                    {{ 'customer.addresses.edit' | t }}
                  </button>
                  <button
                    type="button"
                    aria-label="{{ 'customer.addresses.delete' | t }} {{ forloop.index }}"
                    data-target="{{ address.url }}"
                    data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}"
                  >
                    {{ 'customer.addresses.delete' | t }}
                  </button>
                    <div class="form_name">{{ 'customer.addresses.edit_address' | t }}</div>
                    <div class="form_edit">
                        {%- form 'customer_address', address -%}
                            <div class="form_item">
                                <div class="title">Name</div>
                                <div class="input_content name">
                                    <input type="text" id="first_name" name="address[first_name]" value="{{ form.first_name }}" autocomplete="given-name" placeholder="{{ 'customer.addresses.first_name' | t }}">
                                    <input type="text" id="last_name" name="address[last_name]" value="{{ form.last_name }}" autocomplete="family-name" placeholder="{{ 'customer.addresses.last_name' | t }}">
                                    <span class="form_message"></span>
                                </div>
                            </div>
                            <div class="form_item">
                                <div class="title">{{ 'customer.addresses.company' | t }}</div>
                                <div class="input_content company">
                                    <input type="text" id="company" name="address[company]" value="{{ form.company }}" autocomplete="organization" placeholder="{{ 'customer.addresses.company' | t }}">
                                    <span class="form_message"></span>
                                </div>
                            </div>
                            <div class="form_item">
                                <div class="title">Phone number</div>
                                <div class="input_content phone">
                                    <input type="tel" id="phone_number" name="address[phone]" value="{{ form.phone }}" autocomplete="tel" placeholder="{{ 'customer.addresses.phone' | t }}">
                                    <span class="form_message"></span>
                                </div>
                            </div>
                            <div class="form_item">
                                <div class="title">{{ 'customer.addresses.zip' | t }}</div>
                                <div class="input_content post_office">
                                    <input type="text" id="post_number" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters" autocomplete="postal-code" placeholder="{{ 'customer.addresses.zip' | t }}">
                                    <span class="form_message"></span>

                                </div>
                            </div>
                            <div class="form_item create_box_select">
                                <div class="title">{{ 'customer.addresses.country' | t }}</div>
                                <div id="box_check_option" class="input_content nation">
                                   <select
                                      id="select_box"
                                      name="address[country]"
                                      data-default="{{ form.country }}"
                                      autocomplete="country"
                                    >
                                      {{ all_country_option_tags }}
                                    </select>
                                </div>
                            </div>
                            <div class="form_item">
                                <div class="title">{{ 'customer.addresses.city' | t }}</div>
                                <div class="input_content city">
                                    <input type="text" id="city" name="address[city]" value="{{ form.city }}" autocomplete="address-level2" placeholder="{{ 'customer.addresses.city' | t }}">
                                    <span class="form_message"></span>
                                </div>
                            </div>
                            <div class="form_item">
                                <div class="title">Address</div>
                                <div class="input_content street">
                                   <input type="text" id="street" name="address[address1]" value="{{ form.address1 }}" autocomplete="address-line1" placeholder="{{ 'customer.addresses.address1' | t }}">
                                    <span class="form_message"></span>
                                </div>
                            </div>
                            <div class="form_item">
                                <div class="input_content default_address">
                                   {{ form.set_as_default_checkbox }}
                                    <label for="policy" class="checkbox normal">{{ 'customer.addresses.set_default' | t }}</label>
                                </div>
                            </div>
                           <div>
                              <button class="add" >{{ 'customer.addresses.update' | t }}</button>
                              <button type="reset">{{ 'customer.addresses.cancel' | t }}</button>
                            </div>
                        {%- endform -%}
                    </div>
                  {%- endfor -%}
                </div>
            </section>
          {%- endpaginate -%}
        </div>
    </div>