<link rel="stylesheet" href="{{ 'login.css' | asset_url }}" media="print" onload="this.media='all'">
<script src="{{ 'validator.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'login.js' | asset_url }}" defer="defer"></script>
{% style %}
	#recover {
		display: none;
	}
	#recover + div {
		display: none;
	}
	#recover:target,#recover:target + div
	{
		display: block;
	}
	#recover:target ~ #login,
    #recover:target ~ #login + div {
        display: none;
    }
	div {	
	with: 50%;
}
{% endstyle %}
<div id="wrapper" class="login">
    <div class="inner">
        <div class="upper">
            <div class="navi_top">
                <ul>
                    <li><a href="/"><img src="{{'bx-home.svg' | asset_url }}" alt=""></a></li>
                    <li><span class="current">{{ 'customer.login_page.title' | t }}</span></li>
                </ul>
            </div>
        </div>
        
       <section class="section" id="content">
                <div class="inner">
                    <div class="reset_password_wrapper">
                        
                    </div>
                </div>
            </section>
      
        <section class="section" id="content">
            <div class="inner">
                <div class="login_wrapper">
                  		<h1 id="recover" tabindex="-1">
                          {{ 'customer.recover_password.title' | t }}
                        </h1>
                        <div class="reset_password_form">
                            <p>{{ 'customer.recover_password.subtext' | t }}</p>
                            {%- form 'recover_customer_password', id:'form_reset' -%}
      							{% assign recover_success = form.posted_successfully? %}
                                <ul>
                                    <li>
                                        <input type="email"
                                              value=""
                                              name="email"
                                              id="RecoverEmail"
                                              autocorrect="off"
                                              autocapitalize="off"
                                              autocomplete="email"
                                              {% if form.errors %}
                                                aria-invalid="true"
                                                aria-describedby="RecoverEmail-email-error"
                                                autofocus
                                              {% endif %}
                                              placeholder="{{ 'customer.login_page.email' | t }}">
                                        <span class="form_message"></span>
                                    </li>
                                </ul>
                                {%- if form.errors -%}
                                  <small id="RecoverEmail-email-error" class="form__message">
                                    <svg aria-hidden="true" focusable="false" role="presentation" viewBox="0 0 13 13">
                                      <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
                                      <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
                                      <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
                                      <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
                                    </svg>
                                    {{ form.errors.messages['form'] }}
                                  </small>
                                {%- endif -%}
                                <button>
                                  {{ 'customer.login_page.submit' | t }}
                                </button>
                                <a href="#login">
                                  {{ 'customer.login_page.cancel' | t }}
                                </a>
                            {%- endform -%}
                        </div>
                    <h1 id="login" tabindex="-1">
                      {{ 'customer.login_page.title' | t }}
                    </h1>
                    <div class="login_form">
                          {%- form 'customer_login', id: 'login' -%}
                      {{ form.errors | default_errors }}
                            <ul>
                                <li>
                                    <input type="email" name="customer[email]" id="email" value="" placeholder="{{ 'customer.login_page.email' | t }}" class="lg_input" aria-invalid="true">
                                    <span class="form_message"></span>
                                </li>
                              {%- if form.password_needed -%}
                                <li>
                                    <input type="password" value="" name="customer[password]" id="password" placeholder="{{ 'customer.login_page.password' | t }}" class="lg_input">
                                    <span class="form_message"></span>
                                </li>
                              {%- endif -%}
                                <li>
                                    <a class="tlt_bottom_login" href="#recover">{{ 'customer.login_page.forgot_password' | t }}</a>
                                </li>
                            </ul>
                            <div class="btn_login">
                                <button type="submit"  class="btn_login">{{ 'customer.login_page.sign_in' | t }}</button>
                                <p class="txt_confirm">
                                    <input type="checkbox" value="" id="policies">
                                    <label for="policies" class="checkbox normal">Omitting ID input from next time</label>
                                </p>
                                <a class="bottom_res" href="{{ routes.account_register_url }}">First time users ({{ 'customer.login_page.create_account' | t }})</a>
                            </div>
                          {%- endform -%}
                      {%- if shop.checkout.guest_login -%}
                        <div>
                          <hr>
                          <h2>{{ 'customer.login_page.guest_title' | t }}</h2>

                          {%- form 'guest_login' -%}
                            <button>
                              {{ 'customer.login_page.guest_continue' | t }}
                            </button>
                          {%- endform -%}
                          </div>
                      {%- endif -%}
                    </div>
                    <div class="login_sns">
                        <h3>Login with social</h3>
                        <ul class="vertical_list_login">
                            <li>
                                <a href="#" class="btn btn_social facebook">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                    <span>Login with Facebook</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-social twitter">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                    <span>Login with Twitter</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="btn btn_social instagram">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                    <span>Login with Instagram</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="btn btn_social linkedin">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                    <span>Login with Linkedin</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


<script type="text/javascript">
  function showRecoverPasswordForm() {
    document.getElementById('recover-password').style.display = 'inline-block';
    document.getElementById('customer').style.display='none';
  }

  function hideRecoverPasswordForm() {
    document.getElementById('recover-password').style.display = 'none';
    document.getElementById('customer').style.display = 'inline-block';
  }

  if (window.location.hash == '#recover') { showRecoverPasswordForm() }
</script>
  <script>
        Validator({
            form: '#form_reset',
            errorSelector: '.form_message',
            rules: [
                Validator.isEmail('#RecoverEmail')
            ]
        });
    </script>
