<link rel="stylesheet" href="{{ 'login.css' | asset_url }}" media="print" onload="this.media='all'">
<script src="{{ 'validator.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'login.js' | asset_url }}" defer="defer"></script>
<div id="wrapper" class="login">
    <div class="inner">
        <div class="upper">
            <div class="navi_top">
                <ul>
                    <li><a href="/"><img src="{{'bx-home.svg' | asset_url }}" alt=""></a></li>
                    <li><span class="current">{{ 'customer.login_page.title' | t }}</span></li>
                </ul>
            </div>
        </div>
        <!-- banner -->
        <section class="section" id="content">
            <div class="inner">
                <div class="login_wrapper">
                    <div class="login_form">
                        <h3>{{ 'customer.login_page.title' | t }}</h3>
                       	<form action="" id="login">
                          {%- form 'customer_login' -%}
                            <ul>
                                <li>
                                    <input type="email" name="email" id="email" value="" placeholder="{{ 'customer.login_page.email' | t }}" class="lg_input" aria-invalid="true">
                                    <span class="form_message"></span>
                                </li>
                              {%- if form.password_needed -%}
                                <li>
                                    <input type="password" value="" name="password" id="password" placeholder="{{ 'customer.login_page.password' | t }}" class="lg_input">
                                    <span class="form_message"></span>
                                </li>
                              {%- endif -%}
                                <li>
                                    <a class="tlt_bottom_login" href="#">Click here if you have forgotten your password</a>
                                </li>
                            </ul>
                            <div class="btn_login">
                                <button type="submit"  class="btn_login">{{ 'customer.login_page.sign_in' | t }}</button>
                                <p class="txt_confirm">
                                    <input type="checkbox" value="" id="policies">
                                    <label for="policies" class="checkbox normal">Omitting ID input from next time</label>
                                </p>
                                <a class="bottom_res" href="#">First time users (new member registration)</a>
                            </div>
                          {%- endform -%}
                          </form>
                    </div>
                    <div class="login_sns">
                        <h3>Login with social</h3>
                        <ul class="vertical_list_login">
                            <li>
                                <a href="#" class="btn btn_social facebook">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                    <span>Login with Facebook</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-social twitter">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                    <span>Login with Twitter</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="btn btn_social instagram">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                    <span>Login with Instagram</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="btn btn_social amazon">
                                    <i class="fa fa-amazon" aria-hidden="true"></i>
                                    <span>Login with Amazon</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="btn btn_social line">
                                    <img src="assets/images/line3.png" alt="">
                                    <p></p>
                                    <span>Login with LINE</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="btn btn_social spotify">
                                    <i style="color: #1bd75f;" class="fa fa-spotify" aria-hidden="true"></i>
                                    <span>Login with Spotify</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="btn btn_social google">
                                    <i class="fa fa-google" aria-hidden="true"></i>
                                    <span>Login with Google</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="btn btn_social linkedin">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                    <span>Login with Linkedin</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- /banner -->
    </div>
</div>


<script type="text/javascript">
  function showRecoverPasswordForm() {
    document.getElementById('recover-password').style.display = 'inline-block';
    document.getElementById('customer').style.display='none';
  }

  function hideRecoverPasswordForm() {
    document.getElementById('recover-password').style.display = 'none';
    document.getElementById('customer').style.display = 'inline-block';
  }

  if (window.location.hash == '#recover') { showRecoverPasswordForm() }
</script>
