 <link rel="stylesheet" href="{{ 'order_history.css' | asset_url }}" media="print" onload="this.media='all'">
<div id="wrapper" class="list_order">
        <div class="inner">
            <div class="upper">
                <div class="navi_top">
                    <ul>
                        <li><a href="/"><img src="{{'bx-home.svg' | asset_url }}" alt=""></a></li>
                        <li><span class="current">{{ 'customer.order.title' | t: name: order.name }}</span></li>
                    </ul>
                </div>
            </div>
            <section class="section order_history">
                <div class="inner">
                    <div class="util_pc title">
                        <span>{{ 'customer.order.title' | t: name: order.name }}</span>
                      <h2>{{ 'customer.order.title' | t: name: order.name }}</h2>
                      {%- assign order_date = order.created_at | time_tag: format: "date_at_time" -%}
                      <p>{{ 'customer.order.date_html' | t: date: order_date }}</p>
                      {%- if order.cancelled -%}
                        {%- assign cancelled_at = order.cancelled_at | time_tag: format: "date_at_time" -%}
                        <p>{{ 'customer.order.cancelled_html' | t: date: cancelled_at }}</p>
                        <p>{{ 'customer.order.cancelled_reason' | t: reason: order.cancel_reason_label }}</p>
                      {%- endif -%}
                    </div>
                    <div class="inner_order_history">
                        <div class="contanier_list_order_history">
                            <ul class="list_order_history">
                              {%- for line_item in order.line_items -%}
                                <li>
                                    <div class="item_order_history">
                                        <div class="data_order_history">
                                            <div class="item_thumb">
                                                <img src="{{'conletc_01.jpg' | asset_url }}" alt="">
                                            </div>
                                            <div class="data">
                                                <h3>TAKAKO OHTA TOKUMA JAPAN YEARS 1983-1988 CD & DVD COMPLETE BOX
                                                    [Notice lifted: February 17, 2020 12:00]</h3>
                                                <div class="info_data">
                                                    <span>Takako Ohta</span>
                                                    <span>Format: CD + DVD / Specifications: BOX set</span>
                                                    <span>Item No .: 00022323232323</span>
                                                </div>
                                                <div class="number_price_order">
                                                    <span>{{ 'customer.order.quantity' | t }} :{{ line_item.quantity }}</span>
                                                    <span>Price : $20,5</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                {%- endfor -%}
                            </ul>
                        </div>
                        <div class="util_sp title">
                            <span>Order details</span>
                        </div>
                        <div class="total_order_history">
                            <div class="order_num">
                                <div class="item_num">
                                    <span>Order number: # 1001</span>
                                    <span>Order date: 2020/5/1</span>
                                    <span>Number of products: 2</span>
                                    <a href="">Preparing to ship</a>
                                    <div class="returns_about">
                                        <a href="">
                                            <div class="item_thumb">
                                                <img src="{{'help-circle.png' | asset_url }}" alt="">
                                            </div>
                                            <span>About product cancellation / return</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="total_product_order">
                                <div class="list_total_order">
                                    <div class="total_order">
                                        <span>Product total</span>
                                        <span>$50,00</span>
                                    </div>
                                    <div class="total_order">
                                        <span>Consumption tax</span>
                                        <span>$8,00</span>
                                    </div>
                                    <div class="total_order">
                                        <span>Postage</span>
                                        <span>$5,00</span>
                                    </div>
                                    <div class="total_order total_last">
                                        <span>Total</span>
                                        <span>$63,00</span>
                                    </div>
                                    <div class="total_order payment_method">
                                        <span>Payment method: Credit card payment</span>
                                        <span class="status_payment">Payment status: Hold</span>
                                    </div>
                                </div>
                            </div>
                            <div class="billing_address">
                                <h3>{{ 'customer.order.billing_address' | t }}</h3>
                                <span>
                                  <strong>{{ 'customer.order.payment_status' | t }}:</strong>
                                  {{ order.financial_status_label }}
                                </span>
                                <span>{{ order.billing_address | format_address }}</span>
                            </div>
                            <div class="shipping_address">
                                <h3>{{ 'customer.order.shipping_address' | t }}</h3>
                                <span>
                                  <strong>{{ 'customer.order.fulfillment_status' | t }}:</strong>
                                  {{ order.fulfillment_status_label }}
                                </span>       
                                <span>{{ order.shipping_address | format_address }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>