<link rel="stylesheet" href="{{ 'register.css' | asset_url }}" media="print" onload="this.media='all'">
<script src="{{ 'validator.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'register.js' | asset_url }}" defer="defer"></script>
<div id="wrapper" class="register">
    <div class="inner">
        <div class="upper">
            <div class="navi_top">
                <ul>
                    <li><a href="/"><img src="{{'bx-home.svg' | asset_url }}" alt=""></a></li>
                    <li><span class="current">Register</span></li>
                </ul>
            </div>
        </div>
        <section class="section" id="content">
            <div class="inner">
                <div class="register_wrapper">
                    <div class="register_form">
                        <h3>Register</h3>
                      
                        <form action="" novalidate="novalidate" id="register">
                          {% form 'create_customer' %}
	      					{{ form.errors | default_errors }}
                            <ul>
                                <li>
                                    <input type="text" name="text" id="firstname" value="" placeholder="{{ 'customer.register.first_name' | t }}" class="lg_input" aria-invalid="true">
                                    <span class="form_message"></span>
                                </li>
                                <li>
                                    <input type="text" name="text" id="lastname" value="" placeholder="Last name" class="lg_input" aria-invalid="true">
                                    <span class="form_message"></span>
                                </li>
                                <li>
                                    <input type="email" name="email" id="email" value="" placeholder="Email address" class="lg_input" aria-invalid="true">
                                    <span class="form_message"></span>
                                </li>
                                <li>
                                    <input type="password" value="" name="password" id="password" placeholder="New password" class="lg_input">
                                    <span class="form_message"></span>
                                </li>
                                <li>
                                    <input type="password" value="" name="password2" id="password2" placeholder="Enter password" class="lg_input">
                                    <span class="form_message"></span>
                                </li>
                            </ul>
                            <div class="btn_register">
                                <button type="submit" class="btn_register">Register</button>
                                <p class="txt_confirm">
                                    <input type="checkbox" value="" id="policies">
                                    <label for="policies" class="checkbox normal">Omitting ID input from next time</label>
                                </p>
                            </div>
                           {% endform %}
                        </form>
                        <div class="rules_information">
                            <p>If you are a first-time user, please register as a member from here. E-mail address</p>
                            <p>There are the following merits when you register as a member.</p>
                            <p>1. We will send you the best deals in the e-mail newsletter to the registered e-mail address.</p>
                            <p>2. You will be able to use the like function. You can use the like function to save the products you want in your favorites list.</p>
                            <p>3. You can see the purchase history.</p>
                        </div>
                    </div>
                    <div class="register_sns">
                        <h3>Login with social</h3>
                        <ul class="vertical_list_register">
                            <li>
                                <a href="#" class="btn btn_social facebook">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                    <span>Login with Facebook</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-social twitter">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                    <span>Login with Twitter</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="btn btn_social instagram">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                    <span>Login with Instagram</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="btn btn_social amazon">
                                    <i class="fa fa-amazon" aria-hidden="true"></i>
                                    <span>Login with Amazon</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="btn btn_social line">
                                    <img src="assets/images/line3.png" alt="">
                                    <p></p>
                                    <span>Login with LINE</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="btn btn_social spotify">
                                    <i style="color: #1bd75f;" class="fa fa-spotify" aria-hidden="true"></i>
                                    <span>Login with Spotify</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="btn btn_social google">
                                    <i class="fa fa-google" aria-hidden="true"></i>
                                    <span>Login with Google</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="btn btn_social linkedin">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                    <span>Login with Linkedin</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


