<link rel="stylesheet" href="{{ 'reset_password.css' | asset_url }}" media="print" onload="this.media='all'">
<script src="{{ 'validator.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'reset_password.js' | asset_url }}" defer="defer"></script>
<div id="wrapper" class="reset_password">
        <div class="inner">
            <div class="upper">
                <div class="navi_top">
                    <ul>
                        <li><a href="/"><img src="{{'bx-home.svg' | asset_url }}" alt=""></a></li>
                        <li><span class="current">{{ 'customer.reset_password.title' | t }}</li>
                    </ul>
                </div>
            </div>
            <section class="section" id="content">
                <div class="inner">
                    <div class="reset_password_wrapper">
                        <div class="reset_password_form">
                            <h3>{{ 'customer.reset_password.title' | t }}</h3>
                            <p>We will notify the registered e-mail address of the URL for resetting the password.</p>
                              {%- form 'reset_customer_password', id: 'form_reset' -%}
                                <ul>
                                    <li>
                                        <input type="email" name="email" id="email" value="" placeholder="This is mail address" class="lg_input" aria-invalid="true">
                                        <span class="form_message"></span>
                                    </li>
                                </ul>
                                <div class="container_login">
                                    <button type="submit" class="btn_reset">{{ 'customer.reset_password.submit' | t }}</button>
                                </div>
                                <span class="special_word">Cancel</span>
                                {%- endform -%}
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
