<script src="{{ 'main.js' | asset_url }}" defer="defer"></script>


<section class="section" id="banner">
    <div class="inner">
        <div class="slider_top">
          {% for block in section.blocks %}
            <div class="slider_item fade">
                <div class="thumb">
                  {%- if section.settings.image != blank -%}
                 	<img srcset="{{ section.settings.image | img_url}}",
                     src="{{ section.settings.image | img_url }}"
                     alt="">
               {%- else -%}
                    <img src="{{ '01.jpg' | asset_url }}" alt="">
               {%- endif -%}
                </div>
                <div class="txt_desp">
                    <div class="desp_content">
                        <h3>
                          {{ section.settings.title }}
                      </h3>
                        <div class="btn_shop">
                            <a href="#">Shop now</a>
                            <img src="{{'arrow-right.svg' | asset_url }}" alt="">
                        </div>
                    </div>
                </div>
            </div>
          {% endfor %}
<!--             <div class="slider_item fade">
                <div class="thumb">
                    <div class="thumb">
                  {%- if section.settings.image != blank -%}
                 	<img srcset="{{ section.settings.image_2 | img_url}}",
                     src="{{ section.settings.image | img_url }}"
                     alt="">
               {%- else -%}
                    <img src="{{ '02.jpg' | asset_url }}" alt="">
               {%- endif -%}
                </div>
                <div class="txt_desp">
                    <div class="desp_content">
                        <h3>The Title Banner Top 02</h3>
                        <div class="btn_shop">
                            <a href="#">Shop now!</a>
                            <img src="{{'arrow-right.svg' | asset_url }}" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider_item fade">
                <div class="thumb">
                    <div class="thumb">
                  {%- if section.settings.image != blank -%}
                 	<img srcset="{{ section.settings.image_3 | img_url}}",
                     src="{{ section.settings.image | img_url }}"
                     alt="">
               {%- else -%}
                    <img src="{{ '03.jpg' | asset_url }}" alt="">
               {%- endif -%}
                </div>
                <div class="txt_desp">
                    <div class="desp_content">
                        <h3>The Title Banner Top 03</h3>
                        <div class="btn_shop">
                            <a href="#">Shop now!</a>
                            <img src="{{'arrow-right.svg' | asset_url }}" alt="">
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="prev_next">
                <a class="prev" onclick="plusSlides(-1)">
                    <img src="{{'arrow-left.svg' | asset_url }}" alt="">
                </a>
                <a class="next" onclick="plusSlides(1)">
                    <img src="{{'arrow-right.svg' | asset_url }}" alt="">
                </a>
            </div>
            <div class="slider_dot">
                <span class="dot_" onclick="currentSlide(1)"></span>
                <span class="dot_" onclick="currentSlide(2)"></span>
                <span class="dot_" onclick="currentSlide(3)"></span>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
  "name": "Image banner",
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title banner"
    }
  ],
"blocks": [
      {
        "type": "image_picker",
        "name": "Image banner",
        "settings": [
          {
            "label": "Image banner",
            "id": "image",
            "type": "image_picker"
          }
        ]
      }
    ],
"presets": [
      {
        "name": "Image banner",
        "blocks": [
          {
            "type": "image_picker"
          },
          {
            "type": "image_picker"
          },
          {
            "type": "image_picker"
          }
        ]
      }
    ]
}
{% endschema %}
