<script src="{{ 'main.js' | asset_url }}" defer="defer"></script>


<section class="section" id="banner">
    <div class="inner">
        <div class="slider_top">
          {%- for block in section.blocks -%}
            <div class="slider_item fade">
                <div class="thumb">
                    <div class="thumb">
                  <img  src="{{ block.settings.image | img_url: 'master'}}" alt="">
                </div>
                <div class="txt_desp">
                    <div class="desp_content">
                        <h3>{{ block.settings.title}}</h3>
                        <div class="btn_shop">
                            <a href="#">Shop now!</a>
                            <img src="{{'arrow-right.svg' | asset_url }}" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="prev_next">
                <a class="prev" onclick="plusSlides(-1)">
                    <img src="{{'arrow-left.svg' | asset_url }}" alt="">
                </a>
                <a class="next" onclick="plusSlides(1)">
                    <img src="{{'arrow-right.svg' | asset_url }}" alt="">
                </a>
            </div>
            

            <div class="slider_dot">
                <span class="dot_" onclick="currentSlide(1)"></span>
                <span class="dot_" onclick="currentSlide(2)"></span>
                <span class="dot_" onclick="currentSlide(3)"></span>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% schema %}
{
  "name": "Banner slider",
  "max_blocks": 6,
  "settings": [
    
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image banner",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label":"Title"
        }
      ]
    }
  ]
}
{% endschema %}

