<link rel="stylesheet" href="{{ 'blog.css' | asset_url }}" media="print" onload="this.media='all'">

<div id="wrapper" class="blog">
    <div class="inner">
        <div class="upper">
            <div class="navi_top">
                <ul>
                    <li><a href="/"><img src="{{'bx-home.svg' | asset_url }}" alt=""></a></li>
                    <li><span class="current">Blog</span></li>
                </ul>
            </div>
        </div>
        <!-- BLOG -->
        <section class="section" id="blog">
            <div class="inner">
                <h2 class="tlt_section">{{section.settings.title}}</h2>
                <div class="list_item">
                    {%- assign blog = blogs[section.settings.blog_post] -%}
                    {%- if blog.articles_count > 0 -%}
                      <ul>
                          {%- for article in blog.articles limit: section.settings.post_limit -%}
                          <li>
                              <a class="item_type" href="{{ article.url }}">
                                  <div class="item_content">
                                      <div class="thumb">
                                        {%- if article.image -%}
                                          {{ article | img_url | img_tag: '' }}
                                        {%- endif -%}
                                      </div>
                                      <div class="txt_desp">
                                          <h3>{{ article.title }}</h3>
                                          <p>
                                            {%- if section.settings.blog_show_date -%}
                                                <time datetime="">{{ article.published_at | date: format: 'basic' }}</time>
                                            {%- endif -%}
                                            {%- for tag in article.tags -%}
                                              <span data-url="https://translate.google.com/">{{ tag }}</span>
                                            {%- endfor -%}

                                          </p>
                                      </div>
                                  </div>
                              </a>
                          </li>
                        {%- endfor -%}

                      </ul>
                    {%- endif -%}
                    </div>
                </div>
            </div>
        </section>
        <!-- /BLOG -->
    </div>
</div>

{% schema %}
{
  "name": "Blog posts",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Blog posts"
    },
    {
      "id": "blog_post",
      "type": "blog",
      "label": "Blog"
    },
    {
      "type": "range",
      "id": "post_limit",
      "label": "Posts",
      "min": 3,
      "max": 12,
      "step": 3,
      "default": 3
    },
    {
      "type": "checkbox",
      "id": "blog_show_date",
      "label": "Show date",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "Blog posts",
      "category": "Blog",
      "settings": {
        "blog_post": "News",
        "post_limit": 6
      }
    }
  ]
}
{% endschema %}
