 <link rel="stylesheet" href="{{ 'contact.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'contact_success.css' | asset_url }}" media="print" onload="this.media='all'">
<script src="{{ 'validator.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'contact.js' | asset_url }}" defer="defer"></script>

<div id="wrapper" class="contact">
        <div class="inner">
            <div class="upper">
                <div class="navi_top">
                    <ul>
                        <li><a href="/"><img src="{{'bx-home.svg' | asset_url }}" alt=""></a></li>
                        <li><span class="current">Contact</span></li>
                    </ul>
                </div>
            </div>
            <section class="section" id="form_contact">
                    <div class="form_contact">
                <div class="inner">
                         <h2>Form contact</h2>
                        {%- form 'contact', id: 'contact' -%}
                         {%- if form.posted_successfully? -%}
                  				<p>{% render 'icon-success' %} {{ 'templates.contact.form.post_success' | t }}</p>
                  		  {%- elsif form.errors -%}
                  				<p>{% render 'icon-error' %}{{ 'templates.contact.form.error_heading' | t }}</p>
                          {%- endif -%}
                            <ul>
                                <li>
                                    <div class="title_contact">
                                        <label>{{ 'templates.contact.form.name' | t }}</label>
                                    </div>
                                    <ul class="holizontal_list_contact">
                                        <li>
                                            <input type="text" placeholder="First Name" class="input_contact" name="contact[first_name]" id="firstName" >
                                            <span class="form_message"></span>
                                        </li>
                                        <li>
                                            <input type="text" placeholder="Last Name" class="input_contact" name="contact[last_name]" id="lastName" >
                                            <span class="form_message"></span>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <div class="title_contact">
                                        <label>{{ 'templates.contact.form.email' | t }}</label>
                                    </div>
                                    <div>
                                        <input type="email" placeholder="{{ 'templates.contact.form.email' | t }}" class="input_contact" name="contact[email]" id="email"  >
                                        <span class="form_message"></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="title_contact">
                                        <label>Contents of inquiry</label>
                                    </div>
                                    <div id="box_check_option" class="input-content nation">
                                        <select id="select-box" class="box_select_sort box_select_contact" name="contact[request_type]">
                                            <option value="Regarding products and inventory"> Regarding products and inventory</option>
                                            <option value="Regarding the account">Regarding the account </option>
                                            <option value="About payment">About payment</option>
                                            <option value="About the actual store"> About the actual store</option>
                                            <option value="About the event">About the event</option>
                                            <option value="Others">Others</option>
                                        </select>
                                    </div>
                                </li>
                                <li>
                                    <div class="title_contact">
                                        <label>{{ 'templates.contact.form.comment' | t }}</label>
                                    </div>
                                    <textarea  id="content"
                                              name="contact[{{ 'templates.contact.form.comment' | t }}]"
        										placeholder="{{ 'templates.contact.form.comment' | t }}" class="c_content">
                                      {{- form.body -}}
                                  </textarea>
                                </li>
                                <li>
                                    <div class="title_contact policy_area">
                                        <label>Handling of personal information</label>
                                    </div>
                                    <div class="c_contact_policy">
                                        <input type="checkbox" name="policies" id="policies"
                                               class="checkbox normal">
                                        <span for="policies" class="group_title_span"><a href="" class="special_word">Privacy policy</a>I agree with</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="g-recaptcha"
                                         data-sitekey="6Lep-WEeAAAAAITPLoh0hnG_KuhYMxwDaANJPTY8"></div>
                                </li>
                            </ul>
                            <div class="submit_contact">
                                <input type="submit" class="btn01 sp" id="register_contact" value="{{ 'templates.contact.form.send' | t }}">
                            </div>
                  		{%- endform -%}
                    </div>
                </div>
            </section>
        </div>
    </div>
{% schema %}
{
  "name": "t:sections.contact-form.name",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    
  ],
  "presets": [
    {
      "name": "t:sections.contact-form.presets.name"
    }
  ]
}
{% endschema %}