<link rel="stylesheet" href="{{ 'product_details.css' | asset_url }}" media="print" onload="this.media='all'">
<script src="{{ 'product_detail.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

{% style %}
.hidden {
	display: block !important;
}
details {
	display: none;
	cursor: pointer;
}
.share-button__button {
	list-style: none;
	display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
	background: transparent;
    border: none;
    cursor: pointer;
}
.share-button__button svg {
	margin-right: 5px;
}
{% endstyle %}
{%- assign first_3d_model = product.media | where: "media_type", "model" | first -%}
{%- if first_3d_model -%}
  <link id="ModelViewerStyle" rel="stylesheet" href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css" media="print" onload="this.media='all'">
{%- endif -%}
<div id="wrapper_product">
        <div class="inner">
            <section class="section shopify-section" id="product">
                <div class="inner">
                    <div class="product_grid">
                        <div class="product_images">
                            <div class="container">
                              {%- for media in product.media -%}
                                <div class="item">
                                    <a class="lightbox" href="#{{media.position}}">
                                        <img src="{{ media | img_url:'master' }}" alt="{{ media.alt | escape }}">
                                        <button class="zoom_in">
                                            <img class="icon_zoom" src="{{ 'zoom-in.png' | asset_url }}" alt="{{ media.alt | escape }}">
                                        </button>
                                    </a>
                                    <div class="lightbox-target" id="{{media.position}}">
	                                     <img src="{{ media | img_url:'master' }}" alt="{{ media.alt | escape }}">   
                                        <a class="lightbox-close" href="#">
                                        </a>
                                    </div>
                                </div>
                              {% endfor %}
                                <div class="row">
                                  {%- for media in product.media -%}
                                   {%- capture media_index -%}
                                      {%- if media.media_type == 'model' -%}{%- increment model_index -%}
                                      {%- elsif media.media_type == 'video' or media.media_type == 'external_video' -%}{%- increment video_index -%}
                                      {%- elsif media.media_type == 'image'%}{%- increment image_index -%}
                                      {%- endif -%}
                                    {%- endcapture -%}
                                    {%- assign media_index = media_index | plus: 1 -%}

                                        {%- if media.media_type == 'model' -%}
                                      <span class="thumbnail__badge" aria-hidden="true">
                                        {%- render 'icon-3d-model' -%}
                                      </span>
                                    {%- elsif media.media_type == 'video' or media.media_type == 'external_video' -%}
                                      <span class="thumbnail__badge" aria-hidden="true">
                                        {%- render 'icon-play' -%}
                                      </span>

                                    {%- endif -%}
                                    <div class="column">
                                      {%- if product.selected_or_first_available_variant.featured_media != null -%}
                                          {%- assign featured_media = product.selected_or_first_available_variant.featured_media -%}
                                            {%- assign media_position = 1 -%}
                                            {% render 'product-thumbnail', media: featured_media, position: media_position, loop: section.settings.enable_video_looping, modal_id: section.id, xr_button: true, media_width: media_width %}
                                        {%- endif -%}
                                          {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
                                              {%- assign media_position = media_position | default: 0 | plus: 1 -%}
                                              {% render 'product-thumbnail', media: media, position: media_position, loop: section.settings.enable_video_looping, modal_id: section.id, xr_button: true, media_width: media_width %}
                                          {%- endunless -%}
                                     
                                    </div>
                                   {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="product_details">
                           {%- assign product_form_id = 'product-form-' | append: section.id -%}

                            {%- for block in section.blocks -%}
                              {%- case block.type -%}
                            {%- when 'title' -%}
                            <div class="txt_desp">
                              {%- if product.title != blank -%}
                                <h1 class="name">{{product.title}}</h1>
                              {%- else -%}
                                {{ 'onboarding.product_title' | t }}
                              {%- endif -%}
                                <p class="price">
                                  {{product.price | money }}
                                  {%- if product.available == false -%}
                                    <span class="sold_out">{{ 'products.product.sold_out' | t }}</span>
                                      {%- elsif product.compare_at_price > product.price and product.available -%}
                                    <span class="sale">{{ 'products.product.on_sale' | t }}</span>
                                   {%- endif -%}
                              </p>
                              {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
                                <div class="product__tax caption rte">
                                  {%- if shop.taxes_included -%}
                                    {{ 'products.product.include_taxes' | t }}
                                  {%- endif -%}
                                  {%- if shop.shipping_policy.body != blank -%}
                                    {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                                  {%- endif -%}
                                </div>
                              {%- endif -%}
                              {%- if product != blank -%}
                                <div {{ block.shopify_attributes }}>
                                  {%- form 'product', product -%}
                                    <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                                    {{ form | payment_terms }}
                                  {%- endform -%}
                                </div>
                              {%- endif -%}
                            </div>
                          {%- when 'variant_picker' -%}
                          {%- unless product.has_only_default_variant -%}
                            <variant-radios class="color no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}" {{ block.shopify_attributes }}>
                               {%- for option in product.options_with_values -%}
                                <p>{{ option.name }}</p>
                                <fieldset class="color_wrapper js product-form__input" >
                                   {%- for value in option.values -%}
                                    <div class="color_item form__label" >
                                      <input type="radio" id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                                name="{{ option.name }}"
                                value="{{ value | escape }}"
                                form="{{ product_form_id }}"
                                {% if option.selected_value == value %}checked{% endif %}
                          >
                          <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}">
                            {{ value }}
                          </label>
                                  	</div>
                                    {%- endfor -%}
                                  
                                </fieldset>
                              {%- endfor -%}
                              <script type="application/json">
                                    {{ product.variants | json }}
                                  </script>
                            </variant-radios>
                          {%- endunless -%}
                          {%- when 'quantity_selector' -%}
                           <div class="product-form__input product-form__quantity" {{ block.shopify_attributes }}>
                              <label class="form__label" for="Quantity-{{ section.id }}">
                                {{ 'products.product.quantity.label' | t }}
                              </label>

                              <quantity-input class="quantity">
                                <button class="quantity__button no-js-hidden" name="minus" type="button">
                                  <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
                                  {% render 'icon-minus' %}
                                </button>
                                <input class="quantity__input"
                                    type="number"
                                    name="quantity"
                                    id="Quantity-{{ section.id }}"
                                    min="1"
                                    value="1"
                                    form="{{ product_form_id }}"
                                  >
                                <button class="quantity__button no-js-hidden" name="plus" type="button">
                                  <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
                                  {% render 'icon-plus' %}
                                </button>
                              </quantity-input>
                            </div>
                          {%- when 'buy_buttons' -%}
                          <div {{ block.shopify_attributes }}>
                            <product-form class="btn product-form" {{ block.shopify_attributes }}>
                              <div class="product-form__error-message-wrapper" id="check" role="alert" hidden>
                                  <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-error" viewBox="0 0 13 13">
                                    <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
                                    <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
                                    <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
                                    <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7"/>
                                  </svg>
                                  <span class="product-form__error-message">errorr</span>
                                </div>
                               {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                  					<input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" disabled>
                                    <button id="cart_view" type="submit" name="add"
                      class="add_cart product-form__submit button button--full-width {% if block.settings.show_dynamic_checkout and product.selling_plan_groups == empty %}button--secondary{% else %}button--primary{% endif %}" {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}>
                                         <span>
                                            {%- if product.selected_or_first_available_variant.available -%}
                                              {{ 'products.product.add_to_cart' | t }}
                                            {%- else -%}
                                              {{ 'products.product.sold_out' | t }}
                                            {%- endif -%}
                                          </span>
                                    </button>
                      				{%- if block.settings.show_dynamic_checkout -%}
                                      {{ form | payment_button }}
                                    {%- endif -%}
                              {%- endform -%}
                                       
                            </product-form>
                            <div class="txt_note">
                              <p>{{section.settings.text}} </p>
                            </div>
                           {%- when 'share' -%}
                              <share-button id="Share-{{ section.id }}" class="share-button" {{ block.shopify_attributes }}>
                                <button class="share-button__button hidden">
                                  {% render 'icon-share' %}
                                  {{ block.settings.share_label | escape }}
                                </button>
                                <details id="Details-{{ block.id }}-{{ section.id }}">
                                  <summary class="share-button__button">
                                    {% render 'icon-share' %}
                                    {{ block.settings.share_label | escape }}
                                  </summary>
                                  <div id="Product-share-{{ section.id }}" class="share-button__fallback motion-reduce">
                                    <div class="field">
                                      <span id="ShareMessage-{{ section.id }}" class="share-button__message hidden" role="status">
                                      </span>
                                      <input type="text"
                                            class="field__input"
                                            id="url"
                                            value="{{ product.selected_variant.url | default: product.url | prepend: shop.url }}"
                                            placeholder="{{ 'general.share.share_url' | t }}"
                                            onclick="this.select();"
                                            readonly
                                      >
                                      <label class="field__label" for="url">{{ 'general.share.share_url' | t }}</label>
                                    </div>
                                    <button class="share-button__close hidden no-js-hidden">
                                      {% render 'icon-close' %}
                                      <span class="visually-hidden">{{ 'general.share.close' | t }}</span>
                                    </button>
                                    <button class="share-button__copy no-js-hidden">
                                      {% render 'icon-clipboard' %}
                                      <span class="visually-hidden">{{ 'general.share.copy_to_clipboard' | t }}</span>
                                    </button>
                                  </div>
                                </details>
                              </share-button>
                              <script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>
                              <script src="{{ 'share.js' | asset_url }}" defer="defer"></script> 
                          {%- endcase -%}
        				{%- endfor -%}
                        </div>
                    </div>
                </div>
            </section>
            
        </div>
    </div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    function isIE() {
      const ua = window.navigator.userAgent;
      const msie = ua.indexOf('MSIE ');
      const trident = ua.indexOf('Trident/');

      return (msie > 0 || trident > 0);
    }

    if (!isIE()) return;
    const hiddenInput = document.querySelector('#{{ product_form_id }} input[name="id"]');
    const noScriptInputWrapper = document.createElement('div');
    const variantSwitcher = document.querySelector('variant-radios[data-section="{{ section.id }}"]') || document.querySelector('variant-selects[data-section="{{ section.id }}"]');
    noScriptInputWrapper.innerHTML = document.querySelector('.product-form__noscript-wrapper-{{ section.id }}').textContent;
    variantSwitcher.outerHTML = noScriptInputWrapper.outerHTML;

    document.querySelector('#Variants-{{ section.id }}').addEventListener('change', function(event) {
      hiddenInput.value = event.currentTarget.value;
    });
  });
</script>

{%- if first_3d_model -%}
  <script type="application/json" id="ProductJSON-{{ product.id }}">
    {{ product.media | where: 'media_type', 'model' | json }}
  </script>

  <script src="{{ 'product-model.js' | asset_url }}" defer></script>
{%- endif -%}

{%- liquid
  if product.selected_or_first_available_variant.featured_media
    assign seo_media = product.selected_or_first_available_variant.featured_media
  else
    assign seo_media = product.featured_media
  endif
-%}

<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": {{ product.title | json }},
    "url": {{ shop.url | append: product.url | json }},
    {% if seo_media -%}
      {%- assign media_size = seo_media.preview_image.width | append: 'x' -%}
      "image": [
        {{ seo_media | img_url: media_size | prepend: "https:" | json }}
      ],
    {%- endif %}
    "description": {{ product.description | strip_html | json }},
    {% if product.selected_or_first_available_variant.sku != blank -%}
      "sku": {{ product.selected_or_first_available_variant.sku | json }},
    {%- endif %}
    "brand": {
      "@type": "Thing",
      "name": {{ product.vendor | json }}
    },
    "offers": [
      {%- for variant in product.variants -%}
        {
          "@type" : "Offer",
          {%- if variant.sku != blank -%}
            "sku": {{ variant.sku | json }},
          {%- endif -%}
          "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
          "price" : {{ variant.price | divided_by: 100.00 | json }},
          "priceCurrency" : {{ cart.currency.iso_code | json }},
          "url" : {{ shop.url | append: variant.url | json }}
        }{% unless forloop.last %},{% endunless %}
      {%- endfor -%}
    ]
  }
</script>

{% schema %}
{
	"name": "t:sections.featured-product.name",
	"tag": "section",
	"blocks": [
		{
          "type": "title",
          "name": "t:sections.featured-product.blocks.title.name",
          "limit": 1
        },
        {
          "type": "price",
          "name": "t:sections.featured-product.blocks.price.name",
          "limit": 1
        },
		{
			"type": "variant_picker",
			"name": "t:sections.featured-product.blocks.variant_picker.name",
			"limit": 1
		},
        {
          "type": "quantity_selector",
          "name": "t:sections.featured-product.blocks.quantity_selector.name",
          "limit": 1
        },
		{
          "type": "buy_buttons",
          "name": "t:sections.featured-product.blocks.buy_buttons.name",
          "limit": 1,
          "settings": [
              {
                "type": "checkbox",
                "id": "show_dynamic_checkout",
                "default": true,
                "label": "t:sections.featured-product.blocks.buy_buttons.settings.show_dynamic_checkout.label",
                "info": "t:sections.featured-product.blocks.buy_buttons.settings.show_dynamic_checkout.info"
              }
        	]
		},
		{
          "type": "description",
          "name": "t:sections.featured-product.blocks.description.name",
          "limit": 1
        },
        {
          "type": "share",
          "name": "t:sections.featured-product.blocks.share.name",
          "limit": 1,
          "settings": [
            {
              "type": "text",
              "id": "share_label",
              "label": "t:sections.featured-product.blocks.share.settings.text.label",
              "default": "Share"
            },
            {
              "type": "paragraph",
              "content": "t:sections.featured-product.blocks.share.settings.featured_image_info.content"
            },
            {
              "type": "paragraph",
              "content": "t:sections.featured-product.blocks.share.settings.title_info.content"
            }
          ]
        }
	],
    "settings": [
		{
          "type": "product",
          "id": "product",
          "label": "t:sections.featured-product.settings.product.label"
        },
        {
          "type": "header",
          "content": "t:sections.featured-product.settings.header.content",
          "info": "t:sections.featured-product.settings.header.info"
        }
      ],
      "presets": [
          {
            "name": "t:sections.featured-product.presets.name",
            "blocks": [
              {
                "type": "title"
              },
              {
                "type": "price"
              },
              {
                "type": "variant_picker"
              },
              {
                "type": "quantity_selector"
              },
              {
                "type": "buy_buttons"
              },
              {
                "type": "share"
              }
            ]
          }
      ]
}
{% endschema %}