{{ 'footer.css' | asset_url | stylesheet_tag  }}

<footer id="footer" class="color-{{ section.settings.color_scheme }} gradient">
    {%- if section.settings.newsletter_enable or section.settings.show_social -%}
    <div class="inner">
        <div class="container">
            <div class="subscribe">
                <div class="content_sub">
                    <div class="ttl_desp">
                        <h3>NEWSLETTER</h3>
                    </div>
                    <div class="txt_desp">
                        <p>
                          {{section.settings.footer_description}}
                        </p>
                    </div>
                  {%- if section.settings.newsletter_enable -%}
                    <div class="form_sub">
                        {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form' -%}
                            <input type="email" placeholder="your@email.address" name=[contact[Email]] required>
                            <button type="submit">
                                <img src="{{'envelope-regular-24.png' | asset_url }}" alt="Submit">
                            </button>
                        {%- endform -%}
                    </div>
                   {%- endif -%}
                  {%- if section.settings.show_social -%}
                    <div class="social_icon">
                        <ul>
                          {%- if settings.social_facebook_link != blank -%}
                            <li>
                                <a href="{{ settings.social_facebook_link }}">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;">
                                      <path d="M12.001 2.002c-5.522 0-9.999 4.477-9.999 9.999 0 4.99 3.656 9.126 8.437 9.879v-6.988h-2.54v-2.891h2.54V9.798c0-2.508 1.493-3.891 3.776-3.891 1.094 0 2.24.195 2.24.195v2.459h-1.264c-1.24 0-1.628.772-1.628 1.563v1.875h2.771l-.443 2.891h-2.328v6.988C18.344 21.129 22 16.992 22 12.001c0-5.522-4.477-9.999-9.999-9.999z"></path>
                                  </svg>
                                </a>
                            </li>
                          {%- endif -%}
                          {%- if settings.social_instagram_link != blank -%}
                            <li>
                                <a href="{{ settings.social_instagram_link }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;">
                                      <path d="M11.999 7.377a4.623 4.623 0 1 0 0 9.248 4.623 4.623 0 0 0 0-9.248zm0 7.627a3.004 3.004 0 1 1 0-6.008 3.004 3.004 0 0 1 0 6.008z"></path><circle cx="16.806" cy="7.207" r="1.078"></circle><path d="M20.533 6.111A4.605 4.605 0 0 0 17.9 3.479a6.606 6.606 0 0 0-2.186-.42c-.963-.042-1.268-.054-3.71-.054s-2.755 0-3.71.054a6.554 6.554 0 0 0-2.184.42 4.6 4.6 0 0 0-2.633 2.632 6.585 6.585 0 0 0-.419 2.186c-.043.962-.056 1.267-.056 3.71 0 2.442 0 2.753.056 3.71.015.748.156 1.486.419 2.187a4.61 4.61 0 0 0 2.634 2.632 6.584 6.584 0 0 0 2.185.45c.963.042 1.268.055 3.71.055s2.755 0 3.71-.055a6.615 6.615 0 0 0 2.186-.419 4.613 4.613 0 0 0 2.633-2.633c.263-.7.404-1.438.419-2.186.043-.962.056-1.267.056-3.71s0-2.753-.056-3.71a6.581 6.581 0 0 0-.421-2.217zm-1.218 9.532a5.043 5.043 0 0 1-.311 1.688 2.987 2.987 0 0 1-1.712 1.711 4.985 4.985 0 0 1-1.67.311c-.95.044-1.218.055-3.654.055-2.438 0-2.687 0-3.655-.055a4.96 4.96 0 0 1-1.669-.311 2.985 2.985 0 0 1-1.719-1.711 5.08 5.08 0 0 1-.311-1.669c-.043-.95-.053-1.218-.053-3.654 0-2.437 0-2.686.053-3.655a5.038 5.038 0 0 1 .311-1.687c.305-.789.93-1.41 1.719-1.712a5.01 5.01 0 0 1 1.669-.311c.951-.043 1.218-.055 3.655-.055s2.687 0 3.654.055a4.96 4.96 0 0 1 1.67.311 2.991 2.991 0 0 1 1.712 1.712 5.08 5.08 0 0 1 .311 1.669c.043.951.054 1.218.054 3.655 0 2.436 0 2.698-.043 3.654h-.011z"></path>
                                  </svg>
                                </a>
                            </li>
                           {%- endif -%}
                           {%- if settings.social_twitter_link != blank -%}
                            <li>
                                <a href="{{ settings.social_twitter_link }}">
                                    <img src="{{'btn_share_twitter.png' | asset_url }}" alt="Twitter">
                                </a>
                            </li>
                            {%- endif -%}
                        </ul>
                    </div>
                  {%- endif -%}
                </div>
            </div>
            <div class="category">
                <ul>
                    <li>
                        <div class="ttl_category">
                            <h3>ADDRESS</h3>
                        </div>
                        <div class="txt_category">
                            <p>Ha Noi</p>
                            <p>Ho Chi Minh</p>
                            <p>Da Nang</p>
                            <p>Hai Phong</p>
                        </div>
                    </li>
                    <li>
                        <div class="ttl_category">
                            <h3>EXPLORE</h3>
                        </div>
                          {%- assign footer_linklist = section.settings.footer_linklist -%}
                          {% if linklists[footer_linklist].links.size > 0 %}
                            <div class="txt_category">
                              {% for link in linklists[footer_linklist].links %}
                                <p>
                                  <a href="{{ link.url }}">
                                  {{ link.title }}
                                  </a>
                                    </p>
                              {% endfor %}
                          	</div>
                          {% endif %}
                    </li>
                    <li>
                        <div class="ttl_category">
                            <h3>BLOGS</h3>
                        </div>
                        <div class="txt_category">
                            <p>News</p>
                            <p>Fashion</p>
                            <p>Event</p>
                            <p>Promotion</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {%- endif -%}
    <div class="copyright">
        <div class="container">
             <div class="footer__column footer__localization">
                    {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
                      <localization-form>
                        {% form 'localization' %}
                          <div class="disclosure">
                            <h2 class="visually-hidden" id="FooterCountryLabelNoScript">{{ 'localization.country_label' | t }}</h2>
                            <button type="button" class="disclosure__button" aria-expanded="false" aria-controls="CountryList">
                              {{ localization.country.name }} ({{ localization.country.currency.iso_code }} {{ localization.country.currency.symbol }})
                            </button>
                            <ul id="CountryList" role="list" class="disclosure__list" hidden>
                              {% for country in localization.available_countries %}
                                <li class="disclosure__item" tabindex="-1">
                                  <a href="#"{% if country.iso_code == localization.country.iso_code %} aria-current="true"{% endif %} data-value="{{ country.iso_code }}">
                                    {{ country.name }} ({{ country.currency.iso_code }} {{ country.currency.symbol }})
                                  </a>
                                </li>
                              {% endfor %}
                            </ul>
                            <input type="hidden" name="country_code" value="{{ localization.country.iso_code }}">
                          </div>
                        {% endform %}
                      </localization-form>
                    {%- endif -%}

                    {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
                      <localization-form>
                        {% form 'localization' %}
                          <div class="disclosure">
                            <h2 class="caption-large text-body" id="FooterCountryLabel">{{ 'localization.country_label' | t }}</h2>
                            <button type="button" class="disclosure__button" aria-expanded="false" aria-controls="LanguageList">
                              {{ localization.language.endonym_name | capitalize }}
                            </button>
                            <ul id="LanguageList" role="list" class="disclosure__list" hidden>
                              {% for language in localization.available_languages %}
                                <li class="disclosure__item" tabindex="-1">
                                  <a href="#"{% if language.iso_code == localization.language.iso_code %} aria-current="true"{% endif %} hreflang="{{ language.iso_code }}" lang="{{ language.iso_code }}" data-value="{{ language.iso_code }}">
                                    {{ language.endonym_name | capitalize }}
                                  </a>
                                </li>
                              {% endfor %}
                            </ul>
                            <input type="hidden" name="language_code" value="{{ localization.language.iso_code }}">
                          </div>
                        {% endform %}
                      </localization-form>
                    {% endif %}

      			</div>
            <div class="footer__column footer__column--info">
              {%- if section.settings.payment_enable -%}
                <div class="footer__payment">
                  <ul class="list list-payment" role="list">
                    {%- for type in shop.enabled_payment_types -%}
                      <li class="list-payment__item">
                        {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                      </li>
                    {%- endfor -%}
                  </ul>
                </div>
              {%- endif -%}
              <div class="footer__copyright caption">
                <small class="copyright__content">&copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: routes.root_url }}</small>
                <small class="copyright__content">{{ powered_by_link }}</small>
              </div>
            </div>
        </div>
    </div>
</footer>
{% javascript %}
  
  class LocalizationForm extends HTMLElement {
  constructor() {
    super();
    this.elements = {
      input: this.querySelector('input[name="language_code"], input[name="country_code"]'),
      button: this.querySelector('button'),
      panel: this.querySelector('ul'),
    };
    this.elements.button.addEventListener('click', this.openSelector.bind(this));
    this.elements.button.addEventListener('focusout', this.closeSelector.bind(this));
    this.addEventListener('keyup', this.onContainerKeyUp.bind(this));

    this.querySelectorAll('a').forEach(item => item.addEventListener('click', this.onItemClick.bind(this)));
  }

  hidePanel() {
    this.elements.button.setAttribute('aria-expanded', 'false');
    this.elements.panel.setAttribute('hidden', true);
  }

  onContainerKeyUp(event) {
    if (event.code.toUpperCase() !== 'ESCAPE') return;

    this.hidePanel();
    this.elements.button.focus();
  }

  onItemClick(event) {
    event.preventDefault();
    const form = this.querySelector('form');
    this.elements.input.value = event.currentTarget.dataset.value;
    if (form) form.submit();
  }

  openSelector() {
    this.elements.button.focus();
    this.elements.panel.toggleAttribute('hidden');
    this.elements.button.setAttribute('aria-expanded', (this.elements.button.getAttribute('aria-expanded') === 'false').toString());
  }

  closeSelector(event) {
    const shouldClose = event.relatedTarget && event.relatedTarget.nodeName === 'BUTTON';
    if (event.relatedTarget === null || shouldClose) {
      this.hidePanel();
    }
  }
}

customElements.define('localization-form', LocalizationForm);

{% endjavascript %}
{% schema %}
{
    "name": "t:sections.footer.name",
    "settings": [
        {
          "type": "select",
          "id": "color_scheme",
          "options": [
            {
              "value": "accent-1",
              "label": "Accent 1"
            },
            {
              "value": "accent-2",
              "label": "Accent 2"
            },
            {
              "value": "background-1",
              "label": "Background 1"
            },
            {
              "value": "background-2",
              "label": "Background 2"
            },
            {
              "value": "inverse",
              "label": "Inverse"
            }
          ],
          "default": "background-1",
          "label": "Color scheme"
        },
        {
            "type": "text",
            "id": "footer_description",
            "label": "Text description"
        },
        {
          "type": "checkbox",
          "id": "newsletter_enable",
          "default": true,
          "label": "t:sections.footer.settings.newsletter_enable.label"
        },
        {
          "type": "checkbox",
          "id": "enable_country_selector",
          "default": true,
          "label": "t:sections.footer.settings.enable_country_selector.label"
        },
        {
          "type": "header",
          "content": "t:sections.footer.settings.header__5.content",
          "info": "t:sections.footer.settings.header__6.info"
        },
        {
          "type": "checkbox",
          "id": "enable_language_selector",
          "default": true,
          "label": "t:sections.footer.settings.enable_language_selector.label"
        },
    	{
          "type": "checkbox",
          "id": "show_social",
          "default": false,
          "label": "t:sections.footer.settings.show_social.label"
        },
		{
            "type": "link_list",
            "id": "footer_linklist",
            "label": "First menu",
            "default": "footer"
      	},
		{
            "type": "text",
            "id": "copyright",
            "label": "Text copyright"
        },
		{
            "type": "checkbox",
            "id": "payment_enable",
            "default": true,
            "label": "t:sections.footer.settings.payment_enable.label"
         }
    ]
}
{% endschema %}