<link rel="stylesheet" href="{{ 'cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">
<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'nav.js' | asset_url }}" defer="defer"></script>
{% style %}
.header__icon.header__icon--cart {
	display: flex;
}
{% endstyle %}
<header id="header" class="header">
    <div class="inner">
        <div class="header_top">
            <div class="header_top_content">
                <div class="header_description">
                    {{section.settings.description }}
                </div>
                <ul class="header_top_nav">
<!--                     <li class="util_pc">
                      <a href="{{ routes.account_register_url }}">
                        Registration
                      </a>
                  	</li> -->
                    <li class="util_pc">
                      
                      <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}">
                        <span class="visually-hidden">
                          {%- liquid
                            if customer
                              echo customer.name  
                            else
                              echo 'customer.log_in' | t
                            endif
                          -%}
                        </span>
                      </a>
                  	</li>
                    <li id="header_upper-search">
                        <div id="header_upper_search_form" class="search_content">
                            <form role="search" method="get" action="{{ routes.search_url }}" role="search" class="search search-modal__form">
                                <input id="header_upper_search__input" id="Search-In-Modal"
                                      type="search"
                                      name="q"
                                      value=""
                                      placeholder="{{ 'general.search.search' | t }}"
                                      {%- if settings.predictive_search_enabled -%}
                                        role="combobox"
                                        aria-expanded="false"
                                        aria-owns="predictive-search-results-list"
                                        aria-controls="predictive-search-results-list"
                                        aria-haspopup="listbox"
                                        aria-autocomplete="list"
                                        autocorrect="off"
                                        autocomplete="off"
                                        autocapitalize="off"
                                        spellcheck="false"
                                      {%- endif -%}>
                                <button class="p-header__upper-search__submit icon_button">
                                </button>
                            </form>
                        </div>
                        <button id="btn">
                            <img src="{{ 'icon_search.svg' | asset_url }}" alt="">
                        </button>
                    </li>
                    <li class="header_welcart_cart header__icons">
                        <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset" id="cart-icon-bubble">
                            <span class="header_welcart_cart_badge">
                                    <img src="{{'cart.svg' | asset_url }}" alt="">
                            </span>
                            {%- if cart != empty -%}
                              <div class="cart-count-bubble">
                                {%- if cart.item_count < 100 -%}
                                  <span aria-hidden="true">{{ cart.item_count }}</span>
                                {%- endif -%}
                              </div>
                            {%- endif -%}
                          </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="header_main">
            <div class="header_main_inner">
                <h1 class="header_logo">
                    <a href="#">
                        {%- if section.settings.logo != blank -%}
                            <img srcset="{{ section.settings.logo | img_url}}",
                            src="{{ section.settings.logo | img_url }}"
                            alt="">
                        {%- else -%}
                            <img src="{{ 'logo.png' | asset_url }}" alt="">
                        {%- endif -%}
                    </a>
                </h1>
                <div class="header_main_nav">
                    {%- if section.settings.menu != blank -%}
                    <nav class="global_nav_container" role="navigation">
                        <div id="menuToggle">
                            <div id="nav_toggle">
                                <div>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                            <div id="nav_bg"></div>
                            <div id="global_nav">
                                <div class="header_logo util_sp">
                                    <a href="#">
                                        <img src="assets/images/logo.png" alt="">
                                    </a>
                                </div>
                                <ul class="list_menu">
                                    {%- for link in section.settings.menu.links -%}

                                    <li class="item_menu">
                                        <a href="{{ link.url }}">{{ link.title | escape }} </a>
                                    </li>
                                    {%- endfor -%}

<!--                                     <li class="util_sp"><a href="#">Registration</a></li> -->
                                    <li class="util_sp">
                                  <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}">
                                    <span class="visually-hidden">
                                      {%- liquid
                                        if customer
                                          echo customer.name  
                                        else
                                          echo 'customer.log_in' | t
                                        endif
                                      -%}
                                    </span>
                                  </a>
                                  	</li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                    {%- endif -%}
                </div>
            </div>
        </div>
    </div>
</header>
{% render 'cart-notification' %}

{% schema %}
    {
    "name": "Header",
    "tag": "section",
    "settings": [
        {
            "type": "text",
            "id": "description",
            "label": "Text description"
        },
        {
            "type": "link_list",
            "id": "menu",
            "label": "Menu"
        },
        {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo"
        }
        ],
        "blocks": [
            {
            "name": "image icon",
            "type": "header",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                }
            ]
            }
        ]
    }
{% endschema %}