{% style %}
.cart-notification-wrapper {
  position: relative;
}

.cart-notification-wrapper .cart-notification {
  display: block;
}

.cart-notification {
  background-color: rgb(var(--color-background));
  border-color: rgba(var(--color-foreground), 0.2);
  border-style: solid;
  border-width: 0 0 0.1rem;
  padding: 2.5rem 3.5rem;
  position: absolute;
  right: 0;
  transform: translateY(-100%);
  visibility: hidden;
  width: 100%;
  z-index: -1;
}

@media screen and (min-width: 750px) {
  .header-wrapper:not(.header-wrapper--border-bottom) + cart-notification .cart-notification {
    border-top-width: 0.1rem;
  }

  .cart-notification {
    border-width: 0 0.1rem 0.1rem;
    max-width: 36.8rem;
    right: 4rem;
  }
}

.cart-notification.animate {
  transition: transform var(--duration-short) ease,
    visibility 0s var(--duration-short) ease;
}

.cart-notification.active {
  transform: translateY(0);
  transition: transform var(--duration-default) ease, visibility 0s;
  visibility: visible;
}

.cart-notification__header {
  align-items: flex-start;
  display: flex;
}

.cart-notification__heading {
  align-items: center;
  display: flex;
  flex-grow: 1;
  margin-bottom: 0;
  margin-top: 0;
}

.cart-notification__heading .icon-checkmark {
  color: rgb(var(--color-foreground));
  margin-right: 1rem;
  width: 1.3rem;
}

.cart-notification__close {
  margin-top: -2rem;
  margin-right: -3rem;
}

.cart-notification__links {
  text-align: center;
}

.cart-notification__links > * {
  margin-top: 1rem;
}

.cart-notification-product {
  align-items: flex-start;
  display: flex;
  padding-bottom: 3rem;
  padding-top: 2rem;
}

.cart-notification-product dl {
  margin-bottom: 0;
  margin-top: 0;
}

.cart-notification-product__image {
  border: 0.1rem solid rgba(var(--color-foreground), 0.03);
  margin-right: 1.5rem;
  margin-top: 0.5rem;
}

.cart-notification-product__name {
  margin-bottom: 0.5rem;
  margin-top: 0;
}

{% endstyle %}
<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>
<header id="header" class="header">
    <div class="inner">
        <div class="header_top">
            <div class="header_top_content">
                <div class="header_description">
                    {{section.settings.description }}
                </div>
                <ul class="header_top_nav">
                    <li class="util_pc"><a href="register.html">Registration</a></li>
                    <li class="util_pc"><a href="login.html">Login</a></li>
                    <li id="header_upper-search">
                        <div id="header_upper_search_form" class="search_content">
                            <form role="search" method="get" action="">
                                <input id="header_upper_search__input" name="s" type="text" value="">
                                <button class="p-header__upper-search__submit icon_button">
                                </button>
                            </form>
                        </div>
                        <button id="btn">
                            <img src="{{ 'icon_search.svg' | asset_url }}" alt="">
                        </button>
                    </li>
                    <li class="header_welcart_cart">
                        <a class="header_cart" href="{{ routes.cart_url }}"><span class="header_welcart_cart_label">Cart</span>
                            <span class="header_welcart_cart_badge">
                                <img src="{{ 'cart.svg' | asset_url }}" alt="">
                              {{ cart.item_count }}
                            </span>
                          
                        </a>
                        <div class="header_view_cart" id="header_view_cart">
                            <p class="wc_empty_cart">There are no items in the cart right now.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="header_main">
            <div class="header_main_inner">
                <h1 class="header_logo">
                    <a href="#">
                        {%- if section.settings.logo != blank -%}
                            <img srcset="{{ section.settings.logo | img_url}}",
                            src="{{ section.settings.logo | img_url }}"
                            alt="">
                        {%- else -%}
                            <img src="{{ 'logo.png' | asset_url }}" alt="">
                        {%- endif -%}
                    </a>
                </h1>
                <div class="header_main_nav">
                    {%- if section.settings.menu != blank -%}
                    <nav class="global_nav_container" role="navigation">
                        <div id="menuToggle">
                            <div id="nav_toggle">
                                <div>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                            <div id="nav_bg"></div>
                            <div id="global_nav">
                                <div class="header_logo util_sp">
                                    <a href="#">
                                        <img src="assets/images/logo.png" alt="">
                                    </a>
                                </div>
                                <ul class="list_menu">
                                    {%- for link in section.settings.menu.links -%}

                                    <li class="item_menu">
                                        <a href="{{ link.url }}">{{ link.title | escape }} </a>
                                    </li>
                                    {%- endfor -%}

                                    <li class="util_sp"><a href="#">Registration</a></li>
                                    <li class="util_sp"><a href="#">Login</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                    {%- endif -%}
                </div>
            </div>
        </div>
    </div>
</header>
{% render 'cart-notification' %}

{% schema %}
    {
    "name": "Header",
    "tag": "section",
    "settings": [
        {
            "type": "text",
            "id": "description",
            "label": "Text description"
        },
        {
            "type": "link_list",
            "id": "menu",
            "label": "Menu"
        },
        {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo"
        }
        ],
        "blocks": [
            {
            "name": "image icon",
            "type": "header",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                }
            ]
            }
        ]
    }
{% endschema %}