<header id="header" class="header">
    <div class="inner">
        <div class="header_top">
            <div class="header_top_content">
                <div class="header_description">
                    {{section.settings.textheader_description }}
                    Photogenic and glamorous everyday wear.</div>
                <ul class="header_top_nav">
                    <li class="util_pc"><a href="register.html">Registration</a></li>
                    <li class="util_pc"><a href="login.html">Login</a></li>
                    <li id="header_upper-search">
                        <div id="header_upper_search_form" class="search_content">
                            <form role="search" method="get" action="">
                                <input id="header_upper_search__input" name="s" type="text" value="">
                                <button class="p-header__upper-search__submit icon_button">
                                </button>
                            </form>
                        </div>
                        <button id="btn">
                            {%- assign ImageUrl = section.settings.image -%}
                            {% if ImageUrl != blank %}
                                {{ ImageUrl | image_url }}
                            {% else %}
                                
                            <img src="{{ 'icon_search.svg' | asset_url }}" alt="">
                                
                            {% endif %}
                        </button>
                    </li>
                    <li class="header_welcart_cart">
                        <a class="header_cart" href="#"><span class="header_welcart_cart_label">Cart</span>
                            <span class="header_welcart_cart_badge">
                                <img src="{{ 'cart.svg' | asset_url }}" alt="">
                            </span>
                        </a>
                        <div class="header_view_cart" id="header_view_cart">
                            <p class="wc_empty_cart">There are no items in the cart right now.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="header_main">
            <div class="header_main_inner">
                <h1 class="header_logo">
                    <a href="#">
<!--                         <img src="{{ 'logo.png' | asset_url }}" alt=""> -->
                      {% for block in section.blocks %}
        {{ block.settings.image | image_url: width: 2048 | image_tag }}
{% endfor %}

                    </a>
                </h1>
                <div class="header_main_nav">
                    <nav class="global_nav_container" role="navigation">
                        <div id="menuToggle">
                            <div id="nav_toggle">
                                <div>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                            <div id="nav_bg"></div>
                            <div id="global_nav">
                                <div class="header_logo util_sp">
                                    <a href="#">
                                        <img src="assets/images/logo.png" alt="">
                                    </a>
                                </div>
                                <ul class="list_menu">
                                    <li class="item_menu">
                                        <a href="#">Home</a>
                                    </li>
                                    <li class="item_menu">
                                        <a href="#">Conlection</a>
                                    </li>
                                    <li class="item_menu">
                                        <a href="#">About us</a>
                                    </li>
                                    <li class="item_menu">
                                        <a href="#">Blog</a>
                                    </li>
                                    <li class="item_menu">
                                        <a href="#">Contact</a>
                                    </li>
                                    <li class="util_sp"><a href="#">Registration</a></li>
                                    <li class="util_sp"><a href="#">Login</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>

{% schema %}
{
  "name": "Slideshow",
  "tag": "section",
  "class": "slideshow",
  "max_blocks": 5,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Slideshow"
    }
  ],
  "blocks": [
     {
       "name": "Slide",
       "type": "slide",
       "settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         }
       ]
     }
   ]
}
{% endschema %}

