<div class="cart_footer" id="main-cart-footer" data-id="{{ section.id }}">
                        <div class="cart_blocks">
                          {% for block in section.blocks %}
                            {%- case block.type -%}
                              {%- when '@app' -%}
                                {% render block %}
                              {%- when 'subtotal' -%}
                                <div class="js_contents" {{ block.shopify_attributes }}>
                                    <div class="total">
                                        <h3 class="total_subtotal">{{ 'sections.cart.subtotal' | t }}</h3>
                                        <p class="total_price">{{ cart.total_price | money_with_currency }}</p>
                                      <div>
                                        {%- if cart.cart_level_discount_applications.size > 0 -%}
                                          <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                                            {%- for discount in cart.cart_level_discount_applications -%}
                                              <li class="discounts__discount discounts__discount--end">
                                                {%- render 'icon-discount' -%}
                                                {{ discount.title }}
                                                (-{{ discount.total_allocated_amount | money }})
                                              </li>
                                            {%- endfor -%}
                                          </ul>
                                        {%- endif -%}
                                      </div>
                                    </div>
                                    <small>
                                      {%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
                                        {{ 'sections.cart.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
                                      {%- elsif cart.taxes_included -%}
                                        {{ 'sections.cart.taxes_included_but_shipping_at_checkout' | t }}
                                      {%- elsif shop.shipping_policy.body != blank -%}
                                        {{ 'sections.cart.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
                                      {%- else -%}
                                        {{ 'sections.cart.taxes_and_shipping_at_checkout' | t }}
                                      {%- endif -%}
                                    </small>
                                </div>
                                <div class="cart_checkout" {{ block.shopify_attributes }}>
                                    <button type="submit" id="checkout" class="cart__checkout-button button" name="checkout"{% if cart == empty %} disabled{% endif %} form="cart">{{ 'sections.cart.checkout' | t }}</button>
                                    <a href="">Continue shopping</a>
                                </div>
                           {%- endcase -%}
        				{% endfor %}
                        </div>
                    </div>
{% schema %}
{
  "name": "t:sections.main-cart-item.name",
  "class": "cart_wrapper",
  "settings": [
    
  ],
  "blocks": [
    {
      "type": "subtotal",
      "name": "t:sections.main-cart-footer.blocks.subtotal.name",
      "limit": 1
    },
    {
      "type": "buttons",
      "name": "t:sections.main-cart-footer.blocks.buttons.name",
      "limit": 1
    },
    {
      "type": "@app"
    }
  ]
}
{% endschema %}