<!-- <script src="{{ 'collection.js' | asset_url }}" defer="defer"></script> -->
<div id="wrapper" class="collection">
        <div class="inner">
            <div class="txt_desp">
                <h3>{{- collection.title | escape -}}</h3>
            </div>
            <div class="collection_section">
                 {% render 'facets', results: collection, enable_filtering: true, enable_sorting: true, collapse_on_larger_devices: false %}
                <div class="collection_product_grid">
                    <div class="collection util_pc">
                        <div class="collection_banner">
                            <img src="{{section.settings.image_banner | img_url: 'master' }}" alt="">
                        </div>
                    </div>
                    <div class="collection_product">
                        <div class="wrapper  util_pc">
                            <div class="collection_product_wrap">
                                <div class="collection_product_count">
                                    <p>There are <span>{{ collection.products_count }} products</span></p>
                                </div>
                                <div class="collection_product_sortby">
                                    <label for="">Sort by:</label>
                                    <div class="select">
                                        <select name="sort_by" class="selected" id="SortBy" aria-describedby="a11y-refresh-page-message">
                                          {% assign sort_by = collection.sort_by | default: collection.default_sort_by %}
                                          {% for option in collection.sort_options %}
                                            <option value="{{ option.value }}" {% if option.value == sort_by %}selected="selected"{% endif %}>
                                              {{ option.name }}
                                            </option>
                                          {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="collection_product_list">
                          {%- paginate collection.products by section.settings.products_per_page -%}
                            <div class="inner">
                                <div class="loading_overlay gradient"></div>
                                <div class="list_item" >
                                    <ul id="list_collection" class="items">
                                      {%- for product in collection.products -%}
                                      		<li	>
                                              {% render 'product-card',
                                               product_card_product: product
                                              %}
                                            </li>
                                      {%- endfor -%}
                                    </ul>
                                </div>
                            </div>
                          {%- endpaginate -%}
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
{% schema %}
{
  "name": "main-collection-product",
  "class": "section",
  "settings": [
	{
		"type": "image_picker",
		"id": "image_banner",
		"label": "Banner image"
	},
    {
      "type": "range",
      "id": "products_per_page",
      "min": 8,
      "max": 24,
      "step": 4,
      "default": 16,
      "label": "t:sections.main-collection-product-grid.settings.products_per_page.label"
    }
 
  ]
}
{% endschema %}
