<div id="wrapper" class="cart">
        <div class="inner">
            <div class="cart_wrapper">
                <div class="txt_desp">
                    <h2>Your cart</h2>
                </div>
                <div class="cart_content">
                    <ul class="list_cart_item">
                      {%- for item in cart.items -%}
                        <li>
                          <div class="item_cart">
                              <div class="data_cart">
                                  <div class="item_thumb">
                                  <img src="${item.image}" alt="">
                                  </div>
                                  <div class="data">
                                      <a href="">
                                          <h3>{item.name}}</h3>
                                      </a>
                                  </div>
                              </div>
                              <div class="entry_points">
                                 <div class="box_check">
                                      <div class="btn_quantity">
                                          <button class="minus_btn">
                                              <span>-</span>
                                          </button>
                                          <input type="number" id="quantity" value="${item.quantity}">
                                          <button class="plus_btn">
                                              <span>+</span>
                                          </button>
                                      </div>
                                      <div class="btn_del">
                                          <i class="far fa-trash-alt"></i>
                                      </div>
                                 </div>
                                 <div class="point">
                                     <h3>{{item.price}}</h3>
                                 </div>
                              </div>
                          </div>
                      </li>
                      {%- endfor -%}
                    </ul>
                  
                    <div class="cart_footer">
                        <div class="cart_blocks">
                            <div class="js_contents">
                                <div class="total">
                                    <h3 class="total_subtotal">{{ 'sections.cart.subtotal' | t }}</h3>
                                    <p class="total_price">{{ cart.total_price | money_with_currency }}</p>
                                </div>
                                <small>
                                  {%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
                                    {{ 'sections.cart.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
                                  {%- elsif cart.taxes_included -%}
                                    {{ 'sections.cart.taxes_included_but_shipping_at_checkout' | t }}
                                  {%- elsif shop.shipping_policy.body != blank -%}
                                    {{ 'sections.cart.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
                                  {%- else -%}
                                    {{ 'sections.cart.taxes_and_shipping_at_checkout' | t }}
                                  {%- endif -%}
                              	</small>
                            </div>
                            <div class="cart_checkout" {{ block.shopify_attributes }}>
                                <button type="submit" id="checkout" class="cart__checkout-button button" name="checkout"{% if cart == empty %} disabled{% endif %} form="cart">{{ 'sections.cart.checkout' | t }}</button>
                                <a href="">Continue shopping</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section class="section" id="feature_collection">
                <div class="inner">
                    <h2 class="tlt_section">Feature collection</h2>
                    <div class="slider">
                        <div class="list_item">
                            <ul id="list_arrival">
                                <li class="slide">
                                    <a class="item_type" href="product_detail.html">
                                        <div class="item_content">
                                            <div class="thumb">
                                                <img src="assets/images/img.jpg" alt="">
                                            </div>
                                            <div class="txt_desp">
                                                <h3>ウォールシェルフ</h3>
                                                <p>$3000<span class="sold_out">Out stock</span></p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="slide">
                                    <a class="item_type" href="product_detail.html">
                                        <div class="item_content">
                                            <div class="thumb">
                                                <img src="assets/images/img.jpg" alt="">
                                            </div>
                                            <div class="txt_desp">
                                                <h3>ウォールシェルフ</h3>
                                                <p>$3000</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="slide">
                                    <a class="item_type" href="product_detail.html">
                                        <div class="item_content">
                                            <div class="thumb">
                                                <img src="assets/images/img.jpg" alt="">
                                            </div>
                                            <div class="txt_desp">
                                                <h3>ウォールシェルフ</h3>
                                                <p>$3000</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="slide">
                                    <a class="item_type" href="product_detail.html">
                                        <div class="item_content">
                                            <div class="thumb">
                                                <img src="assets/images/img.jpg" alt="">
                                            </div>
                                            <div class="txt_desp">
                                                <h3>ウォールシェルフ</h3>
                                                <p>$3000</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
