<script src="{{ 'product_detail.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- style -%}
	.row .column img {
		width: 100px;
        height: 85px;
        object-fit: cover;
	}
	.spr-content {
		display: flex;
    	justify-content: space-between;
	}
	.spr-form {
		width: 40%;
		border-top: none;
	}
  .spr-form>form {
		text-align: left;
  }
	#shopify-product-reviews {
		max-width: 1200px;
		margin: 0 auto;
	}
  .spr-button-primary{
		padding: 10px;
    background-color: black;
    color: white;
    border: none;
	float: none;
  }
.spr-review {
border-top: none;
text-align: left;
}
.spr-review-header-title {
	font-weight: 600;
}
.spr-reviews {
	width: 50%;
}
.spr-header-title {
	font-weight: 600;
}
.spr-header {
	text-align: center;
}
.spr-container {
	border: none;
}

.sr-only {
	    position: absolute;
    clip: rect(0,0,0,0);
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
}
#wrapper_product>.inner section.section#product .inner .product_grid .product_details .quantity .btn_quantity button {
	width: 50%;
}
{%- endstyle -%}
<div id="wrapper_product">
        <div class="inner">
            <section class="section" id="product">
                <div class="inner">
                    <div class="product_grid">
                        <div class="product_images">
                            <div class="container">
                              {% for image in product.images %}
                                <div class="item">
                                    <a class="lightbox" href="#{{image.position}}">
                                        <img src="{{ image | image_url }}" alt="">
                                        <button class="zoom_in">
                                            <img class="icon_zoom" src="{{ 'zoom-in.png' | asset_url }}" alt="">
                                        </button>
                                    </a>
                                    <div class="lightbox-target" id="{{image.position}}">
	                                     <img src="{{ image | image_url }}" >   
                                        <a class="lightbox-close" href="#">
                                        </a>
                                    </div>
                                </div>
                              {% endfor %}
                                <div class="row">
                                  {% for image in product.images %}
                                    <div class="column">
                                        <img class="image" src="{{ image | image_url }}" onclick="currentSlide({{image.position}})"
                                            alt="">
                                    </div>
                                   {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="product_details">
                           {%- assign product_form_id = 'product-form-' | append: section.id -%}

                            {%- for block in section.blocks -%}
                              {%- case block.type -%}
                          {%- when 'title' -%}
                            <div class="txt_desp">
                                <h1 class="name">{{product.title}}</h1>
                                <p class="price">{{product.price}}</p>
                            </div>
                          {%- when 'variant_picker' -%}
                            <variant-radios class="color" data-section="{{ section.id }}" data-url="{{ product.url }}" {{ block.shopify_attributes }}>
                                <p>Color</p>
                                <div class="color_wrapper" >
                                   {% for color_option in product.options_by_name['Color'].values %}
                                    <div class="color_item">
                                        <input type="radio" name="color" id="{{ color_option }}" form="{{ product_form_id }}" value="{{ value | escape }}" {% if option.selected_value == value %}checked{% endif %}>
                                        <label for="{{ color_option }}">{{ value}}</label>
                                    </div>
                                  {% endfor %}
                                  <script type="application/json">
                                    {{ product.variants | json }}
                                  </script>
                                </div>
                            </variant-radios>
                          {%- when 'quantity_selector' -%}
                            <div class="quantity">
                                <p>{{ 'products.product.quantity.label' | t }}</p>
                                <div class="btn_quantity">
                                    <button class="minus_btn">
                                        <span class="sr-only">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
                        				{% render 'icon-minus' %}
                                  	</button>
                                    <input type="number" id="quantity" value="1" min="1" max="10">
                                    <button class="plus_btn">
                                       <span class="sr-only">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
                  					   {% render 'icon-plus' %}
                                  	</button>
                                </div>
                            </div>
                          {%- when 'buy_buttons' -%}
                            <product-form class="btn product-form" {{ block.shopify_attributes }}>
                               {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                  					<input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" disabled>
                                    <button id="cart_view" type="submit" name="add"
                      class="add_cart product-form__submit button button--full-width {% if block.settings.show_dynamic_checkout and product.selling_plan_groups == empty %}button--secondary{% else %}button--primary{% endif %}" {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}>
                                        <span>
                                          {%- if product.selected_or_first_available_variant.available -%}
                                            {{ 'products.product.add_to_cart' | t }}
                                          {%- else -%}
                                            {{ 'products.product.sold_out' | t }}
                                          {%- endif -%}
                                        </span>
                                    </button>
                      				{{ form | payment_button }}
                              {%- endform -%}
                                       
                            </product-form>
                          
                            <div class="txt_note">
                              <p>{{section.settings.text}} </p>
                            </div>
                            <div class="social_icon">
                                <ul>
                                    <li>
                                        <a href="">
                                            <img src="{{'facebook_icon.png' | asset_url }}" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img src="{{'linkedin_icon.png' | asset_url }}" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img src="{{'twitter_icon.png' | asset_url }}" alt="">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                          {%- endcase -%}
        				{%- endfor -%}
                        </div>
                    </div>
                    {% render 'cart-notification' %}
                </div>
            </section>
            
        </div>
    </div>
<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": {{ product.title | json }},
    "url": {{ shop.url | append: product.url | json }},
    {% if seo_media -%}
      {%- assign media_size = seo_media.preview_image.width | append: 'x' -%}
      "image": [
        {{ seo_media | img_url: media_size | prepend: "https:" | json }}
      ],
    {%- endif %}
    "description": {{ product.description | strip_html | json }},
    {% if product.selected_or_first_available_variant.sku != blank -%}
      "sku": {{ product.selected_or_first_available_variant.sku | json }},
    {%- endif %}
    "brand": {
      "@type": "Thing",
      "name": {{ product.vendor | json }}
    },
    "offers": [
      {%- for variant in product.variants -%}
        {
          "@type" : "Offer",
          {%- if variant.sku != blank -%}
            "sku": {{ variant.sku | json }},
          {%- endif -%}
          "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
          "price" : {{ variant.price | divided_by: 100.00 | json }},
          "priceCurrency" : {{ cart.currency.iso_code | json }},
          "url" : {{ shop.url | append: variant.url | json }}
        }{% unless forloop.last %},{% endunless %}
      {%- endfor -%}
    ]
  }
</script>

{% schema %}
{
	"name": "main-product",
	"tag": "section",
	"blocks": [
    	{
          "type": "@app"
        },
		{
          "type": "title",
          "name": "title",
          "limit": 1
        },
        {
          "type": "price",
          "name": "price",
          "limit": 1
        },
		{
			"type": "variant_picker",
			"name": "Color"
		},
        {
          "type": "quantity_selector",
          "name": "quantity_selector",
          "limit": 1
        },
		{
          "type": "buy_buttons",
          "name": "buy_buttons",
          "limit": 1
		},
		{
          "type": "description",
          "name": "description",
          "limit": 1
        }
	],
    "settings": [
		{
			"type": "text",
			"id": "text",
			"label": "Text note"
		}
      ]
}
{% endschema %}