<script src="{{ 'product_detail.js' | asset_url }}" defer="defer"></script>
{%- style -%}
	.row .column img {
		width: 100px;
        height: 85px;
        object-fit: cover;
	}
	.spr-content {
		display: flex;
    	justify-content: space-between;
	}
{%- endstyle -%}
<div id="wrapper_product">
        <div class="inner">
            <section class="section" id="product">
                <div class="inner">
                    <div class="product_grid">
                        <div class="product_images">
                            <div class="container">
                              {% for image in product.images %}
                                <div class="item">
                                    <a class="lightbox" href="#{{image.position}}">
                                        <img src="{{ image | image_url }}" alt="">
                                        <button class="zoom_in">
                                            <img class="icon_zoom" src="{{ 'zoom-in.png' | asset_url }}" alt="">
                                        </button>
                                    </a>
                                    <div class="lightbox-target" id="{{image.position}}">
	                                     <img src="{{ image | image_url }}" >   
                                        <a class="lightbox-close" href="#">
                                        </a>
                                    </div>
                                </div>
                              {% endfor %}
                                <div class="row">
                                  {% for image in product.images %}
                                    <div class="column">
                                        <img class="image" src="{{ image | image_url }}" onclick="currentSlide({{image.position}})"
                                            alt="">
                                    </div>
                                   {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="product_details">
                            <div class="txt_desp">
                                <h1 class="name">{{product.title}}</h1>
                                <p class="price">{{product.price}}</p>
                            </div>
                            <div class="color">
                                <p>Color</p>
                                <div class="color_wrapper">
                                   {% for color_option in product.options_by_name['Color'].values %}
                                    <div class="color_item">
                                        <input type="radio" name="color" id="{{ color_option }}">
                                        <label for="{{ color_option }}">{{ color_option }}</label>
                                    </div>
                                  {% endfor %}
                                </div>
                            </div>
                            <div class="quantity">
                                <p>{{ 'products.product.quantity.label' | t }}</p>
                                <div class="btn_quantity">
                                    <button class="minus_btn">-</button>
                                    <input type="number" id="quantity" value="1" min="1" >
                                    <button class="plus_btn">+</button>
                                </div>
                            </div>
                            <div class="btn">
                                <button id="cart_view" type="submit" class="add_cart">
                                    Add to cart
                                </button>
                                <form action="">
                                    <button type="submit" class="btn_buy">Buy now</button>
                                </form>
                            </div>
                            <div class="txt_note">
                              <p>{{section.settings.text}} </p>
                            </div>
                            <div class="social_icon">
                                <ul>
                                    <li>
                                        <a href="">
                                            <img src="{{'facebook_icon.png' | asset_url }}" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img src="{{'linkedin_icon.png' | asset_url }}" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img src="{{'twitter_icon.png' | asset_url }}" alt="">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="cart_notify" id="cart">
                        <div class="cart_header">
                            <div class="txt_desp">
                                <img src="assets/images/check_icon.png" alt="">
                                <p>Item added to your cart</p>
                            </div>
                            <button class="close" id="close">
                                <a href="">
                                    <img src="assets/images/close.png" alt="">
                                </a>
                            </button>
                        </div>
                        <div class="cart_product">

                        </div>
                        <div class="cart_links">
                            <a class="header_cart" href="cart.html">
                                <h3>View my cart</h3>
                                <span class="number">0</span>
                            </a>
                            <!-- <a id="view" class="view" href="cart.html">
                                        <h3>View my cart</h3>
                                        <span>(0)</span>
                                    </a> -->
                            <form action="">
                                <button class="checkout" type="submit">Check out</button>
                            </form>
                            <button class="continue_shopping">
                                Continue shopping
                            </button>
                        </div>
                    </div>
                </div>
            </section>
            
            <section class="section" id="review">
                <div class="inner">
                    <div class="tabs">
                        <button class="tablinks show" data-electronic="product_details">Product Details</button>
                        <button class="tablinks" data-electronic="product_review">Review</button>
                     </div>
                     <div class="wrapper_tabcontent">
                        <div id="product_details" class="tabcontent show">
                            <h3>{{product.title}}</h3>
                            <p>{{product.description}}</p>
                        </div>
               
                        <div id="product_review" class="tabcontent">
                            <div class="txt_content">
                                <div class="name">
                                    <h3>{{review.author}}</h3>
                                </div>
                                <div class="content_commit">
                                    <p>{{review.content}}</p>
                                </div>
                                <div class="date">
                                    <time date-time = "2022.01.01">2022.01.01</time>
                                </div>
                            </div>
                            <div class="txt_content">
                                <div class="name">
                                    <h3>John</h3>
                                </div>
                                <div class="content_commit">
                                    <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                </div>
                                <div class="date">
                                    <time date-time = "2022.01.01">2022.01.01</time>
                                </div>
                            </div>
                            <div class="txt_content">
                                <div class="name">
                                    <h3>John</h3>
                                </div>
                                <div class="content_commit">
                                    <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                </div>
                                <div class="date">
                                    <time date-time = "2022.01.01">2022.01.01</time>
                                </div>
                            </div>
                        </div>
                     </div>
                </div>
            </section>
        </div>
    </div>
{% schema %}
{
	"name": "main-product",
	"tag": "section",
	"blocks": [
		{
          "type": "title",
          "name": "title",
          "limit": 1
        },
        {
          "type": "price",
          "name": "price",
          "limit": 1
        },
		{
			"type": "color",
			"name": "Color"
		},
        {
          "type": "quantity_selector",
          "name": "quantity_selector",
          "limit": 1
        },
		{
          "type": "buy_buttons",
          "name": "buy_buttons",
          "limit": 1
    	},
		{
          "type": "description",
          "name": "description",
          "limit": 1
        }
	],
    "settings": [
		{
			"type": "text",
			"id": "text",
			"label": "Text note"
		}
      ]
}
{% endschema %}