{%- style -%}
	.btn_del svg {
		width: 15px;
		color: #919eab;
	}
	.btn_del svg:hover {
		color: black;
	}
    .sr-only {
            position: absolute;
        clip: rect(0,0,0,0);
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
    }
	.btn_quantity  svg {
		width: 10px;
	}
#wrapper.cart>.inner .cart_wrapper .cart_content .list_cart_item li .item_cart .entry_points .box_check .btn_quantity {
	    display: flex;
    	align-items: center;
}
.quantity {
	display: flex;
	position: relative;
	width: 130px;
	height: 35px;
	border: 1px solid #dddddd;
}
.quantity__button {
    flex-shrink: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
	width: 30px;
}
.visually-hidden {
    position: absolute!important;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    word-wrap: normal!important;
}
.quantity__button svg {
    width: 10px;
    pointer-events: none;
}
.quantity__input {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    border: 0;
    width: 100%;
    flex-grow: 1;
    appearance: none;
}
.hidden {
	display: none!important;
}
#wrapper.cart>.inner {
	padding-top: 14%;
}
.cart__items--disabled {
  pointer-events: none;
}
.cart-item__error {
	display: flex;
    align-items: flex-start;
}
.icon-error {
	width: 14px;
}
.cart-item__error-text:empty + svg {
  display: none;
}
.cart_empty form {
	display: none;
}
.cart_empty .cart_wrapper h2 {
	display: none;
}
a .visually-hidden {
	position: inherit !important;
	margin: 0;
}
.list_cart_item li .item_cart .data_cart .data a{
	text-align: left;
}
.list_cart_item li .item_cart .data_cart .data a h3 {
	margin-bottom: 5px;
}
{%- endstyle -%}
<script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>
<cart-items id="wrapper" class="cart{% if cart == empty %} cart_empty{% endif %}">
        <div class="inner">
          {% if cart == empty %}
          <section class="section" id="wrapper_cart_empty">
                <div class="inner">
                    <h3>Your cart is empty</h3>
                    <a href="{{ routes.all_products_collection_url }}" class="btn_shopping">{{ 'general.continue_shopping' | t }}</a>
                </div>
            </section>
          {% endif %}
            <div class="cart_wrapper">
                <div class="txt_desp">
                    <h2>Your cart</h2>
                </div>
              <form action="{{ routes.cart_url }}" class="cart__contents critical-hidden" method="post" id="cart">
                <div class="cart__items" id="main-cart-items" data-id="{{ section.id }}">
                  <div class="js-contents">
                  <div class="cart_content">
                   {%- if cart != empty -%}
                    <ul class="list_cart_item" id="CartItem-{{ item.index | plus: 1 }}">
                      {%- for item in cart.items -%}
                        <li>
                          <div class="item_cart">
                              <div class="data_cart">
                                  <div class="item_thumb">
                                  <img src="{{item.image | img_url }}" alt="">
                                  </div>
                                  <div class="data">
                                      <a href="{{ item.url }}">
                                          <h3>{{ item.product.title | escape }}</h3>
                                      </a>
                                    {%- if item.product.has_only_default_variant == false -%}
                          				{%- for option in item.options_with_values -%}
                                    <div class="product-option">
                                          {{ option.name }}: 
                                          {{ option.value }}
                                        </div>
                                      {%- endfor -%}
                                    {%- endif -%}
                                  </div>
                              </div>
                              <div class="entry_points">
                                 <div class="box_check">
                                       <quantity-input class="quantity">
                                          <button class="quantity__button no-js-hidden" name="minus" type="button">
                                            <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: item.product.title | escape }}</span>
                                            {% render 'icon-minus' %}
                                          </button>
                                          <input class="quantity__input"
                                            type="number"
                                            name="updates[]"
                                            value="{{ item.quantity }}"
                                            min="0"
                                            aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                                            id="Quantity-{{ item.index | plus: 1 }}"
                                            data-index="{{ item.index | plus: 1 }}"
                                          >
                                          <button class="quantity__button no-js-hidden" name="plus" type="button">
                                            <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: item.product.title | escape }}</span>
                                            {% render 'icon-plus' %}
                                          </button>
                                        </quantity-input>
                                      <div class="btn_del">
                                        <cart-remove-button id="Remove-{{ item.index | plus: 1 }}" data-index="{{ item.index | plus: 1 }}">
                                          <a href="{{ item.url_to_remove }}" class="button button--tertiary" aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}">
                                            {% render 'icon-remove' %}
                                          </a>
                                        </cart-remove-button>
                                      </div>
                                   
                                 </div>
                                <div class="cart-item__error" id="Line-item-error-{{ item.index | plus: 1 }}" role="alert">
                                    <small class="cart-item__error-text"></small>
                                    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-error" viewBox="0 0 13 13">
                                      <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
                                      <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
                                      <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
                                      <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
                                    </svg>
                                  </div>
                                 <div class="point">
                                     <h3>{{item.price | money }}</h3>
                                 </div>
                              </div>
                          </div>
                      </li>
                      {%- endfor -%}
                    </ul>
                    <div class="cart_footer" id="main-cart-footer" data-id="{{ section.id }}">
                        <div class="cart_blocks">
                          {% for block in section.blocks %}
                            {%- case block.type -%}
                              {%- when '@app' -%}
                                {% render block %}
                              {%- when 'subtotal' -%}
                                <div class="js_contents" {{ block.shopify_attributes }}>
                                    <div class="total">
                                        <h3 class="total_subtotal">{{ 'sections.cart.subtotal' | t }}</h3>
                                        <p class="total_price">{{ cart.total_price | money_with_currency }}</p>
                                      <div>
                                        {%- if cart.cart_level_discount_applications.size > 0 -%}
                                          <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                                            {%- for discount in cart.cart_level_discount_applications -%}
                                              <li class="discounts__discount discounts__discount--end">
                                                {%- render 'icon-discount' -%}
                                                {{ discount.title }}
                                                (-{{ discount.total_allocated_amount | money }})
                                              </li>
                                            {%- endfor -%}
                                          </ul>
                                        {%- endif -%}
                                      </div>
                                    </div>
                                    <small>
                                      {%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
                                        {{ 'sections.cart.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
                                      {%- elsif cart.taxes_included -%}
                                        {{ 'sections.cart.taxes_included_but_shipping_at_checkout' | t }}
                                      {%- elsif shop.shipping_policy.body != blank -%}
                                        {{ 'sections.cart.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
                                      {%- else -%}
                                        {{ 'sections.cart.taxes_and_shipping_at_checkout' | t }}
                                      {%- endif -%}
                                    </small>
                                </div>
                                <div class="cart" >
                                    <button type="submit" id="checkout" class="cart__checkout-button button" name="checkout"{% if cart == empty %} disabled{% endif %} form="cart">
                                      {{ 'sections.cart.checkout' | t }}
                                    </button>
                                    <a href="{{ routes.all_products_collection_url }}">{{ 'general.continue_shopping' | t }}</a>
                                </div>
                           {%- endcase -%}
        				{% endfor %}
                        </div>
                    </div>
                    {%- endif -%}
                  </div>
                </div>
                </div>
                <p class="visually-hidden" id="shopping-cart-line-item-status" aria-live="polite" aria-hidden="true" role="status">{{ 'accessibility.loading' | t }}</p>
              <p class="visually-hidden" id="shopping-cart-line-item-status" aria-live="polite" aria-hidden="true" role="status">{{ 'accessibility.loading' | t }}</p>
              </form>
            </div>
        </div>
    </cart-items>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    function isIE() {
      const ua = window.navigator.userAgent;
      const msie = ua.indexOf('MSIE ');
      const trident = ua.indexOf('Trident/');

      return (msie > 0 || trident > 0);
    }

    if (!isIE()) return;
    const cartSubmitInput = document.createElement('input');
    cartSubmitInput.setAttribute('name', 'checkout');
    cartSubmitInput.setAttribute('type', 'hidden');
    document.querySelector('#cart').appendChild(cartSubmitInput);
    document.querySelector('#checkout').addEventListener('click', function(event) {
      document.querySelector('#cart').submit();
    });
  });
</script>
{% schema %}
{
  "name": "t:sections.main-cart-item.name",
  "class": "cart_wrapper",
  "settings": [
    
  ],
  "blocks": [
    {
      "type": "subtotal",
      "name": "t:sections.main-cart-footer.blocks.subtotal.name",
      "limit": 1
    },
    {
      "type": "buttons",
      "name": "t:sections.main-cart-footer.blocks.buttons.name",
      "limit": 1
    },
    {
      "type": "@app"
    }
  ]
}
{% endschema %}