{{ 'search.css' | asset_url | stylesheet_tag }}
{{ 'pagination.css' | asset_url | stylesheet_tag }}
{% style %}
.search__input {
	height: 40px;
    width: 350px;
    border: 1px solid #31373d;
	position: relative;
    padding: 7px;
    outline: none;
}
.search__button {
    background: black;
    border: 1px solid;
    cursor: pointer;
    position: absolute;
    height: 40px;
}
.search__button img {
	width: 18px;
    height: 18px;
}
{% endstyle %}
<div class="template-search spaced-section{% unless search.performed and search.results_count > 0 %} template-search--empty{% endunless %}">
  <div class="template-search__header page-width center">
    
    {%- if search.performed -%}
      <h1 class="h2">{{ 'templates.search.title' | t }}</h1>
    {%- else -%}
      <h1 class="h2">{{ 'general.search.search' | t }}</h1>
    {%- endif -%}
    <div class="template-search__search">
      {%- if settings.predictive_search_enabled -%}
        <predictive-search data-loading-text="{{ 'accessibility.loading' | t }}">
      {%- endif -%} 
        <form action="{{ routes.search_url }}" method="get" role="search" class="search">
          <div class="field">
            <input
              class="search__input field__input"
              id="Search-In-Template"
              type="search"
              name="q"
              value="{{ search.terms | escape }}"
              placeholder="{{ 'general.search.search' | t }}"
              {%- if settings.predictive_search_enabled -%}
                role="combobox"
                aria-expanded="false"
                aria-owns="predictive-search-results-list"
                aria-controls="predictive-search-results-list"
                aria-haspopup="listbox"
                aria-autocomplete="list" 
                autocorrect="off"
                autocomplete="off"
                autocapitalize="off"
                spellcheck="false"
              {%- endif -%}
            >
            <input name="options[prefix]" type="hidden" value="last">
            <button type="submit" class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: rgba(255, 255, 255, 1);transform: ;msFilter:;">
                             <path d="M10 18a7.952 7.952 0 0 0 4.897-1.688l4.396 4.396 1.414-1.414-4.396-4.396A7.952 7.952 0 0 0 18 10c0-4.411-3.589-8-8-8s-8 3.589-8 8 3.589 8 8 8zm0-14c3.309 0 6 2.691 6 6s-2.691 6-6 6-6-2.691-6-6 2.691-6 6-6z"></path>
                          </svg>
            </button>
          </div>
        </form>
      {%- if settings.predictive_search_enabled -%}
        </predictive-search>
      {%- endif -%} 

    </div>
    {%- if search.performed -%}
        {%- if search.results_count > 0 -%}        
          <p role="status">{{ 'templates.search.results_with_count_and_term' | t: terms: search.terms, count: search.results_count }}</p>
        {%- else if -%}
        <p role="status">{{ 'templates.search.no_results' | t: terms: search.terms }}</p>
      {%- endif -%}
    {%- endif -%}
  </div>
  {%- if search.performed -%}
    <div id="ProductGridContainer">
      {%- if search.results.size == 0 and search.filters != empty -%}
        <div class="template-search__results collection collection--empty page-width" id="product-grid" data-id="{{ section.id }}">
          <div class="loading-overlay gradient"></div>
          <div class="title-wrapper center">
            <h2 class="title title--primary">
              {{ 'sections.collection_template.empty' | t }}<br>
              {{ 'sections.collection_template.use_fewer_filters_html' | t: link: search_url, class: "underlined-link link" }}
            </h2>
          </div>
        </div>
      {%- else -%}
        {% paginate search.results by 12 %}
          <div class="template-search__results collection page-width" id="product-grid" data-id="{{ section.id }}">
            <div class="loading-overlay gradient"></div>
            <ul class="grid grid--4-col-desktop grid--3-col-tablet grid--2-col grid--one-third-max grid--quarter-max negative-margin product-grid" role="list">
              {%- for item in search.results -%}
                <li class="grid__item{% unless item.object_type == 'product' %} grid__item--small{% endunless %}">
                  {%- case item.object_type -%}
                    {%- when 'product' -%}
                      {%- capture product_settings -%}{%- if section.settings.product_show_vendor -%}vendor,{%- endif -%}title,price{%- endcapture -%}
                      {% render 'product-card',
                           product_card_product: item
                      %}
                    {%- when 'article' -%}
                      <a href="{{ item.url }}" class="card-wrapper">
                        <div class="card card--search card--soft{% unless item.image %} card--text-only{% endunless %}">
                          <div class="card__inner">
                            {%- if item.image -%}
                              <div class="media media--cropped">
                                <img
                                  srcset="{%- if item.image.src.width >= 165 -%}{{ item.image.src | img_url: '165x' }} 165w,{%- endif -%}
                                    {%- if item.image.src.width >= 360 -%}{{ item.image.src | img_url: '360x' }} 360w,{%- endif -%}
                                    {%- if item.image.src.width >= 533 -%}{{ item.image.src | img_url: '533x' }} 533w,{%- endif -%}
                                    {%- if item.image.src.width >= 720 -%}{{ item.image.src | img_url: '720x' }} 720w,{%- endif -%}
                                    {%- if item.image.src.width >= 940 -%}{{ item.image.src | img_url: '940x' }} 940w,{%- endif -%}
                                    {%- if item.image.src.width >= 1065 -%}{{ item.image.src | img_url: '1065x' }} 1065w,{%- endif -%}
                                    {{ item.image.src | img_url: 'master' }} {{ item.image.src.width }}w"
                                  src="{{ item.image.src | img_url: '940x' }}"
                                  loading="lazy"
                                  sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                                  width="{{ item.image.src.width }}"
                                  height="{{ item.image.src.height }}"
                                  alt="{{ item.image.src.alt | escape }}"
                              >
                              </div>
                            {%- endif -%}
                            <div class="card__content">
                              <h2 class="card__text h3">{{ item.title | truncate: 50 | escape }}</h2>
                              <div class="card-article-info caption-with-letter-spacing h5">
                                {%- if section.settings.article_show_date -%}
                                  <span class="circle-divider">{{ item.published_at | time_tag: format: 'date' }}</span>
                                {%- endif -%}
                                {%- if section.settings.article_show_author -%}
                                  <span>{{ item.author }}</span>
                                {%- endif -%}
                              </div>
                            </div>
                            <div class="card__badge">
                              <span class="badge color-background-1">{{ 'blogs.article.blog' | t }}</span>
                            </div>
                          </div>
                        </div>
                      </a>
                    {%- when 'page' -%}
                      <a href="{{ item.url }}" class="card-wrapper">
                        <div class="card card--search card--soft card--text-only">
                          <div class="card__inner">
                            <div class="card__content"><h2 class="card__text h3">{{ item.title | truncate: 50 | escape }}</h2></div>
                            <div class="card__badge">
                              <span class="badge color-background-1">{{ 'templates.search.page' | t }}</span>
                            </div>
                          </div>
                        </div>
                      </a>
                  {%- endcase -%}
                </li>
              {%- endfor -%}
            </ul>
            {%- if paginate.pages > 1 -%}
              {% render 'pagination', paginate: paginate %}
            {%- endif -%}
          </div>
        {% endpaginate %}    
      {%- endif -%}
    </div> 
  {%- endif -%}
</div>

{% schema %}
{
  "name": "t:sections.main-search.name",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-search.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_filtering.label",
      "info": "t:sections.main-collection-product-grid.settings.enable_filtering.info"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_sorting.label"
    },
    {
      "type": "checkbox",
      "id": "article_show_date",
      "default": true,
      "label": "t:sections.main-search.settings.article_show_date.label"
    },
    {
      "type": "checkbox",
      "id": "article_show_author",
      "default": false,
      "label": "t:sections.main-search.settings.article_show_author.label"
    }
  ]
}
{% endschema %}
