<section class="section" id="blog">
    <div class="inner">
        <h2 class="tlt_section">BLOG</h2>
        <div class="list_item">
            <ul>
                <li>
                    <a class="item_type" href="#">
                        <div class="item_content">
                            <div class="thumb">
                                <img src="{{'img_blog.jpg' | asset_url }}" alt="">
                            </div>
                            <div class="txt_desp">
                                <h3>ウォールシェルフウォールシェルフ</h3>
                                <p>
                                    <time datetime="2022-01-01">2022.01.01</time>
                                    <span data-url="https://translate.google.com/">Category</span>
                                </p>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="item_type" href="#">
                        <div class="item_content">
                            <div class="thumb">
                                <img src="{{'img_blog.jpg' | asset_url }}" alt="">
                            </div>
                            <div class="txt_desp">
                                <h3>ウォールシェルフウォールシェルフ</h3>
                                <p>
                                    <time datetime="2022-01-01">2022.01.01</time>
                                    <span data-url="https://translate.google.com/">Category</span>
                                </p>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="item_type" href="#">
                        <div class="item_content">
                            <div class="thumb">
                                <img src="{{'img_blog.jpg' | asset_url }}" alt="">
                            </div>
                            <div class="txt_desp">
                                <h3>ウォールシェルフウォールシェルフ</h3>
                                <p>
                                    <time datetime="2022-01-01">2022.01.01</time>
                                    <span data-url="https://translate.google.com/">Category</span>
                                </p>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="item_type" href="#">
                        <div class="item_content">
                            <div class="thumb">
                                <img src="{{'img_blog.jpg' | asset_url }}" alt="">
                            </div>
                            <div class="txt_desp">
                                <h3>ウォールシェルフウォールシェルフ</h3>
                                <p>
                                    <time datetime="2022-01-01">2022.01.01</time>
                                    <span data-url="https://translate.google.com/">Category</span>
                                </p>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="item_type" href="#">
                        <div class="item_content">
                            <div class="thumb">
                                <img src="{{'img_blog.jpg' | asset_url }}" alt="">
                            </div>
                            <div class="txt_desp">
                                <h3>ウォールシェルフウォールシェルフ</h3>
                                <p>
                                    <time datetime="2022-01-01">2022.01.01</time>
                                    <span data-url="https://translate.google.com/">Category</span>
                                </p>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="item_type" href="#">
                        <div class="item_content">
                            <div class="thumb">
                                <img src="{{'img_blog.jpg' | asset_url }}" alt="">
                            </div>
                            <div class="txt_desp">
                                <h3>ウォールシェルフウォールシェルフ</h3>
                                <p>
                                    <time datetime="2022-01-01">2022.01.01</time>
                                    <span data-url="https://translate.google.com/">Category</span>
                                </p>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "main-blog",
    "settings": [
    {
        "type": "text",
        "id": "title",
        "label": "Title"
      }
    ]
}
{% endschema %}