<section class="section" id="blog">
    <div class="inner">
        <h2 class="tlt_section">BLOG</h2>
        <div class="list_item">
            <ul>
                <li>
                    <a class="item_type" href="#">
                        <div class="item_content">
                            <div class="thumb">
                                <img src="{{'img_blog.jpg' | asset_url }}" alt="">
                            </div>
                            <div class="txt_desp">
                                <h3>ウォールシェルフウォールシェルフ</h3>
                                <p>
                                    <time datetime="2022-01-01">2022.01.01</time>
                                    <span data-url="https://translate.google.com/">Category</span>
                                </p>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="item_type" href="#">
                        <div class="item_content">
                            <div class="thumb">
                                <img src="{{'img_blog.jpg' | asset_url }}" alt="">
                            </div>
                            <div class="txt_desp">
                                <h3>ウォールシェルフウォールシェルフ</h3>
                                <p>
                                    <time datetime="2022-01-01">2022.01.01</time>
                                    <span data-url="https://translate.google.com/">Category</span>
                                </p>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="item_type" href="#">
                        <div class="item_content">
                            <div class="thumb">
                                <img src="{{'img_blog.jpg' | asset_url }}" alt="">
                            </div>
                            <div class="txt_desp">
                                <h3>ウォールシェルフウォールシェルフ</h3>
                                <p>
                                    <time datetime="2022-01-01">2022.01.01</time>
                                    <span data-url="https://translate.google.com/">Category</span>
                                </p>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="item_type" href="#">
                        <div class="item_content">
                            <div class="thumb">
                                <img src="{{'img_blog.jpg' | asset_url }}" alt="">
                            </div>
                            <div class="txt_desp">
                                <h3>ウォールシェルフウォールシェルフ</h3>
                                <p>
                                    <time datetime="2022-01-01">2022.01.01</time>
                                    <span data-url="https://translate.google.com/">Category</span>
                                </p>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="item_type" href="#">
                        <div class="item_content">
                            <div class="thumb">
                                <img src="{{'img_blog.jpg' | asset_url }}" alt="">
                            </div>
                            <div class="txt_desp">
                                <h3>ウォールシェルフウォールシェルフ</h3>
                                <p>
                                    <time datetime="2022-01-01">2022.01.01</time>
                                    <span data-url="https://translate.google.com/">Category</span>
                                </p>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="item_type" href="#">
                        <div class="item_content">
                            <div class="thumb">
                                <img src="{{'img_blog.jpg' | asset_url }}" alt="">
                            </div>
                            <div class="txt_desp">
                                <h3>ウォールシェルフウォールシェルフ</h3>
                                <p>
                                    <time datetime="2022-01-01">2022.01.01</time>
                                    <span data-url="https://translate.google.com/">Category</span>
                                </p>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>

{% schema %}
{
  "name": "t:sections.main-blog.name",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-blog.settings.header.content"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "grid",
          "label": "t:sections.main-blog.settings.layout.options__1.label"
        },
        {
          "value": "collage",
          "label": "t:sections.main-blog.settings.layout.options__2.label"
        }
      ],
      "default": "collage",
      "label": "t:sections.main-blog.settings.layout.label",
      "info": "t:sections.main-blog.settings.layout.info"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "t:sections.main-blog.settings.show_image.label"
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-blog.settings.image_height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.main-blog.settings.image_height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.main-blog.settings.image_height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.main-blog.settings.image_height.options__4.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.main-blog.settings.image_height.label",
      "info": "t:sections.main-blog.settings.image_height.info"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.main-blog.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": false,
      "label": "t:sections.main-blog.settings.show_author.label"
    },
    {
      "type": "paragraph",
      "content": "t:sections.main-blog.settings.paragraph.content"
    }
  ]
}
{% endschema %}
