{%- style -%}
	.btn_del svg {
		width: 15px;
		color: #919eab;
	}
	.btn_del svg:hover {
		color: black;
	}
    .sr-only {
            position: absolute;
        clip: rect(0,0,0,0);
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
    }
	.btn_quantity  svg {
		width: 10px;
	}
#wrapper.cart>.inner .cart_wrapper .cart_content .list_cart_item li .item_cart .entry_points .box_check .btn_quantity {
	    display: flex;
    	align-items: center;
}
.quantity {
	display: flex;
	position: relative;
	width: 130px;
	height: 35px;
	border: 1px solid #dddddd;
}
.quantity__button {
    flex-shrink: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
	width: 30px;
}
.visually-hidden {
    position: absolute!important;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    word-wrap: normal!important;
}
.quantity__button svg {
    width: 10px;
    pointer-events: none;
}
.quantity__input {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    border: 0;
    width: 100%;
    flex-grow: 1;
    appearance: none;
}
.hidden {
	display: none!important;
}
#wrapper.cart>.inner {
	padding-top: 14%;
}
{%- endstyle -%}
<script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>
<cart-items id="wrapper" class="cart">
        <div class="inner">
            <div class="cart_wrapper">
                <div class="txt_desp">
                    <h2>Your cart</h2>
                </div>
                <div class="cart_content">
                    <ul class="list_cart_item">
                      {%- for item in cart.items -%}
                        <li>
                          <div class="item_cart">
                              <div class="data_cart">
                                  <div class="item_thumb">
                                  <img src="{{item.image | img_url }}" alt="">
                                  </div>
                                  <div class="data">
                                      <a href="{{ item.url }}">
                                          <h3>{{ item.product.title | escape }}</h3>
                                      </a>
                                    {%- if item.product.has_only_default_variant == false -%}
                          				{%- for option in item.options_with_values -%}
                                    <div class="product-option">
                                          {{ option.name }}: 
                                          {{ option.value }}
                                        </div>
                                      {%- endfor -%}
                                    {%- endif -%}
                                  </div>
                              </div>
                              <div class="entry_points">
                                 <div class="box_check">
                                       <quantity-input class="quantity">
                                          <button class="quantity__button no-js-hidden" name="minus" type="button">
                                            <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: item.product.title | escape }}</span>
                                            {% render 'icon-minus' %}
                                          </button>
                                          <input class="quantity__input"
                                            type="number"
                                            name="updates[]"
                                            value="{{ item.quantity }}"
                                            min="0"
                                            aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                                            id="Quantity-{{ item.index | plus: 1 }}"
                                            data-index="{{ item.index | plus: 1 }}"
                                          >
                                          <button class="quantity__button no-js-hidden" name="plus" type="button">
                                            <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: item.product.title | escape }}</span>
                                            {% render 'icon-plus' %}
                                          </button>
                                        </quantity-input>
                                      <div class="btn_del">
                                        <cart-remove-button id="Remove-{{ item.index | plus: 1 }}" data-index="{{ item.index | plus: 1 }}">
                                          <a href="{{ item.url_to_remove }}" class="button button--tertiary" aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}">
                                            {% render 'icon-remove' %}
                                          </a>
                                        </cart-remove-button>
                                      </div>
                                 </div>
                                 <div class="point">
                                     <h3>{{item.price}}</h3>
                                 </div>
                              </div>
                          </div>
                      </li>
                      {%- endfor -%}
                    </ul>
                  
                    <div class="cart_footer">
                        <div class="cart_blocks">
                          {% for block in section.blocks %}
                            {%- case block.type -%}
                              {%- when '@app' -%}
                                {% render block %}
                              {%- when 'subtotal' -%}
                                <div class="js_contents" {{ block.shopify_attributes }}>
                                    <div class="total">
                                        <h3 class="total_subtotal">{{ 'sections.cart.subtotal' | t }}</h3>
                                        <p class="total_price">{{ cart.total_price | money_with_currency }}</p>
                                      <div>
                                        {%- if cart.cart_level_discount_applications.size > 0 -%}
                                          <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                                            {%- for discount in cart.cart_level_discount_applications -%}
                                              <li class="discounts__discount discounts__discount--end">
                                                {%- render 'icon-discount' -%}
                                                {{ discount.title }}
                                                (-{{ discount.total_allocated_amount | money }})
                                              </li>
                                            {%- endfor -%}
                                          </ul>
                                        {%- endif -%}
                                      </div>
                                    </div>
                                    <small>
                                      {%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
                                        {{ 'sections.cart.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
                                      {%- elsif cart.taxes_included -%}
                                        {{ 'sections.cart.taxes_included_but_shipping_at_checkout' | t }}
                                      {%- elsif shop.shipping_policy.body != blank -%}
                                        {{ 'sections.cart.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
                                      {%- else -%}
                                        {{ 'sections.cart.taxes_and_shipping_at_checkout' | t }}
                                      {%- endif -%}
                                    </small>
                                </div>
                                <div class="cart_checkout" {{ block.shopify_attributes }}>
                                    <button type="submit" id="checkout" class="cart__checkout-button button" name="checkout"{% if cart == empty %} disabled{% endif %} form="cart">{{ 'sections.cart.checkout' | t }}</button>
                                    <a href="">Continue shopping</a>
                                </div>
                           {%- endcase -%}
        				{% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <section class="section" id="feature_collection">
                <div class="inner">
                    <h2 class="tlt_section">Feature collection</h2>
                    <div class="slider">
                        <div class="list_item">
                            <ul id="list_arrival">
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </cart-items>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    function isIE() {
      const ua = window.navigator.userAgent;
      const msie = ua.indexOf('MSIE ');
      const trident = ua.indexOf('Trident/');

      return (msie > 0 || trident > 0);
    }

    if (!isIE()) return;
    const cartSubmitInput = document.createElement('input');
    cartSubmitInput.setAttribute('name', 'checkout');
    cartSubmitInput.setAttribute('type', 'hidden');
    document.querySelector('#cart').appendChild(cartSubmitInput);
    document.querySelector('#checkout').addEventListener('click', function(event) {
      document.querySelector('#cart').submit();
    });
  });
</script>
{% schema %}
{
  "name": "t:sections.main-cart-footer.name",
  "class": "cart__footer-wrapper",
  "settings": [
    
  ],
  "blocks": [
    {
      "type": "subtotal",
      "name": "t:sections.main-cart-footer.blocks.subtotal.name",
      "limit": 1
    },
    {
      "type": "buttons",
      "name": "t:sections.main-cart-footer.blocks.buttons.name",
      "limit": 1
    },
    {
      "type": "@app"
    }
  ]
}
{% endschema %}