<script src="{{ 'collection.js' | asset_url }}" defer="defer"></script>
<div id="wrapper" class="collection">
  
        <div class="inner">
            <div class="txt_desp">
                <h3>Shop Collection</h3>
            </div>
            <div class="collection_section">
				{% render 'facets', results: collection, enable_filtering: true, enable_sorting: true, collapse_on_larger_devices: false %}
                <div class="collection_product_grid">
                    <div class="collection util_pc">
                        <div class="collection_banner">
                            <img src="{{section.settings.image_banner | img_url: 'master' }}" alt="">
                        </div>
                    </div>
                    <div class="collection_product">
                        <div class="wrapper  util_pc">
                            <div class="collection_product_wrap">
                                <div class="collection_product_count">
                                    <p>There are <span>{{ collection.products_count }} products</span></p>
                                </div>
                              {%- if enable_sorting -%}
                              {%- assign sort_by = results.sort_by | default: results.default_sort_by -%}
                                <div class="collection_product_sortby">
                                    <label for="">Sort by:</label>
                                    <div class="select">
                                        <select name="sort_by" class="selected" id="SortBy" aria-describedby="a11y-refresh-page-message">
                                          {%- for option in results.sort_options -%}
                                            <option value="{{ option.value | escape }}"{% if option.value == sort_by %} selected="selected"{% endif %}>{{ option.name | escape }}</option>
                                          {%- endfor -%}
                                        </select>
                                    </div>
                                </div>
                              {%- endif -%}
                            </div>
                        </div>
                        <div class="collection_product_list">
                            <div class="inner">
                                <div class="loading_overlay gradient"></div>
                                <div class="list_item" >
                                    <ul id="list_collection" class="items">
                                       {%- for product in collection.products -%}
                                      		<li data-category="" data-price="">
                                              {%- if product_card_product.featured_media -%}
                                              <a class="item_type" href="{{ product_card_product.url | default: '#' }}">
                                                <div class="item_content">
                                                  <div class="thumb">
                                                    <img src="{{ image | image_url }}" alt="">
                                                  </div>
                                                  <div class="txt_desp">
                                                    <h3>{{ product_card_product.title | escape }}</h3>
                                                    <p>{{ 'products.product.price.regular_price' | t }}</p>
                                                  </div>
                                                </div>
                                              </a>
                                              {%- endif -%}
                                            </li>
                                      {%- endfor -%}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% schema %}
{
  "name": "main-collection-product",
  "class": "section",
  "settings": [
	{
		"type": "image_picker",
		"id": "image_banner",
		"label": "Banner image"
	},
    {
      "type": "range",
      "id": "products_per_page",
      "min": 8,
      "max": 24,
      "step": 4,
      "default": 16,
      "label": "t:sections.main-collection-product-grid.settings.products_per_page.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__3.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.main-collection-product-grid.settings.image_ratio.label"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "add_image_padding",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.add_image_padding.label"
    },
    {
      "type": "checkbox",
      "id": "show_image_outline",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.show_image_outline.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_rating.label",
      "info": "t:sections.main-collection-product-grid.settings.show_rating.info"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_filtering.label",
      "info": "t:sections.main-collection-product-grid.settings.enable_filtering.info"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_sorting.label"
    },
    {
      "type": "checkbox",
      "id": "collapse_on_larger_devices",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.collapse_on_larger_devices.label"
    }
  ]
}
{% endschema %}
