
<section class="section" id="new_arrival">
    <div class="inner">
        <h2 class="tlt_section">{{section.settings.title}}</h2>
        <div class="slider">
            <div class="list_item">
                <ul id="list_arrival">
                  {% for product in collections[section.settings.feature_collection].products %}
                     <li class="slide">
                     	<a class="item_type" href="{{ product.url }}">
                       		<div class="item_content">
                                <div class="thumb">
                                       <img src="{{ product.featured_image | img_url: 'master' | format: 'jpg' }}" alt="{{ block.settings.slide_heading }}">
                                      {%- if product.available == false -%}
                                        <span class="sold_out">{{ 'products.product.sold_out' | t }}</span>
                                          {%- elsif product.compare_at_price > product.price and product.available -%}
                                        <span class="sale">{{ 'products.product.on_sale' | t }}</span>
                                      {%- endif -%}
                              	</div>
                                <div class="txt_desp">
                                     <h3>{{ product.title }}</h3>

                                     <p>
                                       {{ product.price | money }}
                                  	</p>
                                </div>
                            </div>
                    	</a>
                    </li>
          		  {% endfor %}
                </ul>
                <div class="prev_next">
                    <a class="prev" onclick="prev(this)">
                        <img src="{{'arrow-left.svg' | asset_url }}" alt="Pervious">
                    </a>
                    <a class="next" onclick="next(this)">
                        <img src="{{'arrow-right.svg' | asset_url }}" alt="Next">
                    </a>
                </div>
            </div>
        </div>
        <div class="banner_arrival">
            <div class="thumb">
              {%- if section.settings.image != blank -%}
                 	<img srcset="{{ section.settings.image | img_url}}",
                     src="{{ section.settings.image | img_url }}"
                     alt="image banner">
               {%- else -%}
                 	<img src="{{'banner_arrival.jpg' | asset_url }}" alt="image banner">
               {%- endif -%}
            </div>
            <div class="content">
               <div class="txt_desp">
               {%- for block in section.blocks -%}
                           {%- assign collection = collections[block.settings.collection] -%}
        			{%- case block.type -%}
          				{%- when 'text' -%}
                              <p>
                                {{ block.settings.text | escape }}
                 			</p>
                 		{%- when 'heading' -%}
                              <h2>
                                {{ block.settings.heading | escape }}
                              </h2>
                         {%- when 'buttons' -%}
                              <a class="banner_btn a_btn" href="{{ collection.url }}">
                                  <span>
                                    {{ block.settings.button_label | escape }}
                                  </span>
                              </a>
              		{%- endcase -%}
      			{%- endfor -%}
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
  "name": "New arrival",
  "tag": "section",
  "settings": [
	{
		"type": "text",
		"id": "title",
		"label": "Heading"
	},
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
     "type": "collection",
     "id": "feature_collection",
     "label": "Collection"
     }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "heading",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        }
      ]
    },
    {
      "type": "text",
      "name": "text",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        }
      ]
    },
    {
      "type": "buttons",
      "name": "Buttons",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "Buttons"
        },
        {
          "label": "Collection",
            "id": "collection",
            "type": "collection"
        }
      ]
    }
  ]
 
}
{% endschema %}
