<section class="section" id="new_arrival">
    <div class="inner">
        <h2 class="tlt_section">NEW ARRIVAL</h2>
        <div class="slider">
            <div class="list_item">
                <ul id="list_arrival">
                    <li class="slide">
                        <a class="item_type" href="product_detail.html">
                            <div class="item_content">
                                <div class="thumb">
                                    <img src="{{'img.jpg' | asset_url }}" alt="">
                                </div>
                                <div class="txt_desp">
                                    <h3>ウォールシェルフ</h3>
                                    <p>$3000<span class="sold_out">Out stock</span></p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="slide">
                        <a class="item_type" href="product_detail.html">
                            <div class="item_content">
                                <div class="thumb">
                                    <img src="{{'img.jpg' | asset_url }}" alt="">
                                </div>
                                <div class="txt_desp">
                                    <h3>ウォールシェルフ</h3>
                                    <p>$3000</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="slide">
                        <a class="item_type" href="product_detail.html">
                            <div class="item_content">
                                <div class="thumb">
                                    <img src="{{'img.jpg' | asset_url }}" alt="">
                                </div>
                                <div class="txt_desp">
                                    <h3>ウォールシェルフ</h3>
                                    <p>$3000</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="slide">
                        <a class="item_type" href="product_detail.html">
                            <div class="item_content">
                                <div class="thumb">
                                    <img src="{{'img.jpg' | asset_url }}" alt="">
                                </div>
                                <div class="txt_desp">
                                    <h3>ウォールシェルフ</h3>
                                    <p>$3000</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="slide">
                        <a class="item_type" href="product_detail.html">
                            <div class="item_content">
                                <div class="thumb">
                                    <img src="{{'img.jpg' | asset_url }}" alt="">
                                </div>
                                <div class="txt_desp">
                                    <h3>ウォールシェルフ</h3>
                                    <p>$3000</p>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
                <div class="prev_next">
                    <a class="prev" onclick="prev(this)">
                        <img src="{{'arrow-left.svg' | asset_url }}" alt="">
                    </a>
                    <a class="next" onclick="next(this)">
                        <img src="{{'arrow-right.svg' | asset_url }}" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="banner_arrival">
            <div class="thumb">
                <img src="{{'banner_arrival.jpg' | asset_url }}" alt="">
            </div>
            <div class="content">
                <div class="txt_desp">
                    <p>Original chair special feature</p>
                    <h2>Design Chair</h2>
                    <a class="banner_btn a_btn" href="#">
                        <span>Check the item</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

