<section class="section" id="new_arrival">
    <div class="inner">
        <h2 class="tlt_section">{{section.settings.title}}</h2>
        <div class="slider">
            <div class="list_item">
                <ul id="list_arrival">
                  {% for product in collections[section.settings.feature_collection].products %}
                     <li class="slide">
                     	<a class="item_type" href="{{ product.url }}">
                       		<div class="item_content">
                                <div class="thumb">
                                       <img src="{{ product.featured_image | img_url: 'medium' | format: 'jpg' }}" alt="{{ block.settings.slide_heading }}">
                                </div>
                                <div class="txt_desp">
                                     <h3>{{ product.title }}</h3>

                                     <p>
                                       {{ product.price | money }}
                                        {%- if product == false -%}
                                    <span class="sold_out">{{ 'products.product.sold_out' | t }}</span>
                                      {%- elsif products.product.compare_at_price > products.product.price and product_card_product.available -%}
                                    <span class="sale">{{ 'products.product.on_sale' | t }}</span>
                                      {%- endif -%}
                                  	</p>
                                </div>
                            </div>
                    	</a>
                    </li>
          		  {% endfor %}
                </ul>
                <div class="prev_next">
                    <a class="prev" onclick="prev(this)">
                        <img src="{{'arrow-left.svg' | asset_url }}" alt="">
                    </a>
                    <a class="next" onclick="next(this)">
                        <img src="{{'arrow-right.svg' | asset_url }}" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="banner_arrival">
            <div class="thumb">
              {%- if section.settings.image != blank -%}
                 	<img srcset="{{ section.settings.image | img_url}}",
                     src="{{ section.settings.image | img_url }}"
                     alt="">
               {%- else -%}
                 	<img src="{{'banner_arrival.jpg' | asset_url }}" alt="">
               {%- endif -%}
            </div>
            <div class="content">
               <div class="txt_desp">
               {%- for block in section.blocks -%}
        			{%- case block.type -%}
          				{%- when 'text' -%}
                              <p>
                                {{ block.settings.text | escape }}
                 			</p>
                 		{%- when 'heading' -%}
                              <h2>
                                {{ block.settings.heading | escape }}
                              </h2>
                         {%- when 'buttons' -%}
                              <a class="banner_btn a_btn" href="#">
                                  <span>
                                    {{ block.settings.button_label | escape }}
                                  </span>
                              </a>
              		{%- endcase -%}
      			{%- endfor -%}
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
  "name": "New arrival",
  "tag": "section",
  "settings": [
	{
		"type": "text",
		"id": "title",
		"label": "Heading"
	},
    {
      "type": "image_picker",
      "id": "image",
      "label": "image"
    },
    {
     "type": "collection",
     "id": "feature_collection",
     "label": "Chose Collection to show on slideshow"
     }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "heading",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "heading"
        }
      ]
    },
    {
      "type": "text",
      "name": "text",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "text"
        }
      ]
    },
    {
      "type": "buttons",
      "name": "buttons",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "button label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "button link"
        }
      ]
    }
  ],
  "presets": [
{
 "name": "Products Slideshow",
 "category": "collections"
 },
    {
      "name": "New arrival",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "buttons"
        }
      ]
    }
  ]
}
{% endschema %}
