<section class="section" id="recommend">
    <div class="inner">
        <h2 class="tlt_section">RECOMMEND</h2>
        <div class="slider">
            <div class="list_item">
                <ul id="list_recommend">
                    {% for product in collections[section.settings.feature_collection].products %}
                     <li class="slide">
                     	<a class="item_type" href="{{ product.url }}">
                       		<div class="item_content">
                                <div class="thumb">
                                       <img src="{{ product.featured_image | img_url: 'medium' | format: 'jpg' }}" alt="{{ block.settings.slide_heading }}">
                                </div>
                                <div class="txt_desp">
                                     <h3>{{ product.title }}</h3>

                                     <p>{{ product.price | money }}</p>
                                </div>
                            </div>
                    	</a>
                    </li>
          		  {% endfor %}
                </ul>
                <div class="prev_next">
                    <a class="prev" onclick="prev(this)">
                        <img src="{{'arrow-left.svg' | asset_url }}" alt="">
                    </a>
                    <a class="next" onclick="next(this)">
                        <img src="{{'arrow-right.svg' | asset_url }}" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "recommend",
    "settings": [
    {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
	{
       "type": "collection",
       "id": "feature_collection",
       "label": "Chose Collection to show on slideshow"
     }
    ],
    "presets": [
     {
       "name": "Products Slideshow",
       "category": "collections"
     }
     ]
}
{% endschema %}