<section class="section" id="recommend">
    <div class="inner">
        <h2 class="tlt_section">{{section.settings.title}}</h2>
        <div class="slider">
            <div class="list_item">
                <ul id="list_recommend">
                    {% for product in collections[section.settings.recommend_collection].products %}
                     <li class="slide">
                     	<a class="item_type" href="{{ product.url }}">
                       		<div class="item_content">
                                <div class="thumb">
                                       <img src="{{ product.featured_image | img_url: 'master' | format: 'jpg' }}" alt="{{ product.title }}">
                                 		{%- if product.available == false -%}
                                        <span class="sold_out">{{ 'products.product.sold_out' | t }}</span>
                                          {%- elsif product.compare_at_price > product.price and product.available -%}
                                        <span class="sale">{{ 'products.product.on_sale' | t }}</span>
                                      {%- endif -%}
                              </div>
                                <div class="txt_desp">
                                     <h3>{{ product.title }}</h3>

                                     <p>
                                       {{ product.price | money }}
                                       
                                  </p>
                                </div>
                            </div>
                    	</a>
                    </li>
          		  {% endfor %}
                </ul>
                <div class="prev_next">
                    <a class="prev" onclick="prev(this)">
                        <img src="{{'arrow-left.svg' | asset_url }}" alt="Pervious">
                    </a>
                    <a class="next" onclick="next(this)">
                        <img src="{{'arrow-right.svg' | asset_url }}" alt="Next">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Recommend",
 	"tag": "section",
    "settings": [
    {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
	{
       "type": "collection",
       "id": "recommend_collection",
       "label": "Chose Collection to show on slideshow"
     }
    ],
    "presets": [
     {
       "name": "Products Slideshow",
       "category": "collections"
     }
     ]
}
{% endschema %}