<section class="section" id="recommend">
    <div class="inner">
        <h2 class="tlt_section">RECOMMEND</h2>
        <div class="slider">
            <div class="list_item">
                <ul id="list_recommend">
                    <li class="slide">
                        <a class="item_type" href="#">
                            <div class="item_content">
                                <div class="thumb">
                                    <img src="{{'img.jpg' | asset_url }}" alt="">
                                </div>
                                <div class="txt_desp">
                                    <h3>ウォールシェルフ</h3>
                                    <p>$3000<span class="sold_out">Out stock</span></p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="slide">
                        <a class="item_type" href="#">
                            <div class="item_content">
                                <div class="thumb">
                                    <img src="{{'img.jpg' | asset_url }}" alt="">
                                </div>
                                <div class="txt_desp">
                                    <h3>ウォールシェルフ</h3>
                                    <p>$3000</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="slide">
                        <a class="item_type" href="#">
                            <div class="item_content">
                                <div class="thumb">
                                    <img src="{{'img.jpg' | asset_url }}" alt="">
                                </div>
                                <div class="txt_desp">
                                    <h3>ウォールシェルフ</h3>
                                    <p>$3000</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="slide">
                        <a class="item_type" href="#">
                            <div class="item_content">
                                <div class="thumb">
                                    <img src="{{'img.jpg' | asset_url }}" alt="">
                                </div>
                                <div class="txt_desp">
                                    <h3>ウォールシェルフ</h3>
                                    <p>$3000</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="slide">
                        <a class="item_type" href="#">
                            <div class="item_content">
                                <div class="thumb">
                                    <img src="{{'img.jpg' | asset_url }}" alt="">
                                </div>
                                <div class="txt_desp">
                                    <h3>ウォールシェルフ</h3>
                                    <p>$3000</p>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
                <div class="prev_next">
                    <a class="prev" onclick="prev(this)">
                        <img src="{{'arrow-left.svg' | asset_url }}" alt="">
                    </a>
                    <a class="next" onclick="next(this)">
                        <img src="{{'arrow-right.svg' | asset_url }}" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "recommend",
    "settings": [
    {
        "type": "text",
        "id": "title",
        "label": "Title"
      }
    ]
}
{% endschema %}